[2021-07-09 09:21] NShaforostov commented on #455
No, item names in the list are being shown correctly

[2021-07-09 09:37] Tatyana2022 commented on #455
***Bug was found***
It is possible to uncheck all features in the **Features** control and **Features**  control is disappeared after that on the **GENES** panel
![image](https://user-images.githubusercontent.com/83421565/125056763-39e3dd80-e0b1-11eb-87ed-bdf5a78bf16f.png)
@mzueva @rodichenko @DmitriiKrasnov

***Not reproduced***

[2021-07-12 14:37] mzueva opened #481 "Support GenBank files from Azure Blob storage"
**Background**
Related to #441
Azure blob resources (`az://` paths) shall be supported for GenBank files.

[2021-07-13 08:26] Tatyana2022 opened #482 "BUG: Pagination is not reset to the first page when sorting by any column in the VARIANTS table"

[2021-07-13 08:41] Tatyana2022 commented on #482
To Reproduce:

1. Go to NGB
2. Go to 'Datasets' panel
3. Select any dataset with .vcf files (e.g. Fruitfly)
4. Go to **Variants** panel
5. Go to any page in the pagination (e.g. **4**)
6. Apply sorting to any column
7. Look at Pagination

***Expected result***
Sorting is applied. Pagination should be reset to the first page
***Actual result***
Sorting is applied. Pagination remained on the same pa

[2021-07-14 11:05] mzueva opened #485 "Notify user that BLASTp results visualisation is not exact"
**Background**
Related to #381

BLASTp alignment visualisation is not exact, alignment block just marks gene or feature which is associated with BLAST results.

**Approach**
It would useful to add a notification to BLASTp track with the following text `"Please note, that BLASTp results visualisation does not show exact location of the alignment (due to the AA to nucleotide coordinates mapping). Wh

[2021-07-14 11:22] mzueva opened #486 "Notify user that Gene features are shown at specific zoom level"
**Background**
At the moment at a large scale (e.g. whole chromosome view) gene/bed track is shown as histogram. This may be misleading for some users.

**Approach**
When a Gene/Bed track at histogram view is opened a tooltip with notification shall be opened with text "At this scale - features density is shown as a histogram. Zoom-in to see exact features.".
![image](https://user-images.githubuse

[2021-07-14 15:56] #446 closed, assigned to SilinPavel

[2021-07-14 15:57] #445 closed, assigned to SilinPavel

[2021-07-15 15:12] Tatyana2022 commented on #462
_Bug was found_
"Feature Count" label and file name overlap into each other when the screen is reduced in the Dataset panel

@mzueva @NShaforostov Could you tell me, please, how should look like expected result? Should be displayed the full label name next to a file name which won't be fit on the page (the same behavior for another datasets)?

@DmitriiKrasnov @rodichenko

[2021-07-15 15:52] Tatyana2022 opened #488 "BUG: Incorrect display of pages in pagination when scrolling up in the Variants table"

[2021-07-15 16:21] Tatyana2022 commented on #488
To Reproduce:

1. Go to NGB
2. Go to 'Datasets' panel
3. Select any dataset with .vcf files (e.g. Fruitfly)
4. Go to **Variants** panel
5. Scroll down to the last page (6)
6. Scroll up to the first page
7. Look at Pagination

***Expected result***
 First page should be underlined on the pagination.

***Actual result***
 The last page (6) is underlined on the pagination.

***Screenshot:***
![image]

[2021-07-16 11:53] rodichenko commented on #455
@Tatyana2022 this should be fixes with 5bb531766296f488c66e626d34e133af418367db, could you check this please?

***Verified***

[2021-07-16 11:53] rodichenko commented on #455
@Tatyana2022 styles fixed with 5bb531766296f488c66e626d34e133af418367db

***Verified***

[2021-07-16 11:54] rodichenko commented on #455
@Tatyana2022 this is also should be fixed by 5bb531766296f488c66e626d34e133af418367db

***Verified***

[2021-07-16 12:23] rodichenko commented on #455
@Tatyana2022 @NShaforostov @mzueva as we discussed, we will hide **Features** menu when we're drawing histogram; **Duplicate track** menu remains the same - visible for all zoom levels if we have more than 1 feature type (b77c73872ac64ab00d73aa8996e9b1e930eacc8f)

***Verified***

[2021-07-19 09:43] Tatyana2022 opened #490 "BUG: Errors are displayed in the console when opening certain .gff files"
**Preconditions:**
1. Open NGB
2. Open Console (F12)

**To Reproduce**

1. Go to 'Datasets' panel
2. Select _second_ dataset with .gff files
3.  Look at Console

**Expected behavior**
_Second_ dataset is selected. No errors in the console

**Actual result**
Second dataset is selected.
The following error displays in the console:
`:8080/catgenome/#/CP…:%22GENE%22%7D%5D:1 Uncaught (in promise) {mess

[2021-07-19 12:26] Tatyana2022 opened #491 "BUG: An error displays in the console by opening .BAM file in the track"
**Preconditions:**
1. Open NGB
2. Open Console (F12)

**To Reproduce**

1. Go to 'Datasets' panel
2. Select  SV_Sample1 dataset with .bam file
3. Choose any Chromosome (e.g. CHR: 1)
4. Look at Console

**Expected behavior**
BAM file is displayed in the track. No errors in the console

**Actual result**
BAM file is displayed in the track
The following error displays in the console:
`Uncaught TypeEr

[2021-07-19 15:02] mzueva opened #492 "Make Gene feature types case insensitive"
**Background**
Related to #405
At the moment `featureType` field contains original value from gff/gtf/gbk file, which may leas to some duplicates, e.g. for human genome:
[code]

**Approach**
`FeatureType` (`feature`) value shall be stored uppercase in the Lucene indices.

[2021-07-19 15:39] mzueva opened #494 "Get Gene feature details"
**Background**
Related to #405
At the moment `Show info` button for Gene table shows only default fields (`Gene`, `Chromosome`, etc.). In order to get full feature description a new API method shall be implemented.

**Approach**
- New field `docId [Integer]` shall be added to `FeatureIndexEntry` class. This field shall be filled for all index types (VCF, Gene) with Lucene document id and returned

[2021-07-20 09:29] NShaforostov opened #496 "Ability to modify gene attributes via the GUI"
## Background

Once #405 is done, we should implement the ability for users to modify gene/features attributes via the GUI without changing the original file.
User shall have the ability to modify the attribute values manually:
- for any gene/feature from the **GENES** panel
- all attribute values can be changed, no matter the type attribute has - mandatory or optional/additional (except "Chromoso

[2021-07-20 10:11] mzueva commented on #490
@rodichenko @DmitriiKrasnov  Problem is caused by reference without gene annotation files attached. I'll fix error on the server to prevent error and return empty request, but we also need to fix the following on client-side:
1. Do not send gene table requests when reference has no annotation files attached and no gene files are selected in the dataset
2. When some gene files are selected in the d

[2021-07-20 14:27] Tatyana2022 opened #500 "BUG: The database of the applied BLAST search is saved for other searches"
**Prerequisites**
1. Go to NGB
2. Select SV_Sample1 dataset with gene file
3. Go to Coordinates and search input control at right of tab's header
4. Enter **13: 38349849 - 38363619** in the **TYPE COORDINATES** and click **Enter**
5. Ckick on "UFM1" transcript
6. Select **BLASTn** search
7. Select "Homo_sapiens.GRCg38" in the dataset field
8. Click on Search

**To Reproduce**
1. Go to Gene track
2

[2021-07-22 12:30] NShaforostov opened #503 "Homologene support (search similar genes)"
## Background

Currently in NGB, user can explore (work with) genes in different ways - e.g. via viewing at the "Browser" or in the "Genes" panel.
It would be convenient not just view info about the certain gene but also search/view similar genes in other species. I.e. genes that are homologous to the current.
To find the homologous genes, the NCBI Homologene database and "in-house" databases shal

[2021-07-22 14:06] Tatyana2022 commented on #405
BUG was found:
Missing "Clear column filter" button in the "Chr" column when filtering is applied to this column
![image](https://user-images.githubusercontent.com/83421565/126652668-c38833b2-4a16-48c0-8e8b-7920a3a6f81a.png)

@mzueva @DmitriiKrasnov @rodichenko

Fixed and verified

[2021-07-22 14:12] Tatyana2022 commented on #405
**Enhancement:**
"Loading Genes" is displayed for the Gene panel if no dataset has been selected.
![image](https://user-images.githubusercontent.com/83421565/126653486-52cb5b58-af2a-4b8e-aec8-5b1219dff06d.png)

This behavior can confuse the user and it is not obvious that you just need to select a dataset. After a conversation with @DmitriiKrasnov , we came to the conclusion that it is better to r

[2021-07-22 16:04] Tatyana2022 commented on #405
BUG was found:
Hidden optional columns are displayed in the table again after sorting on any column

**Steps to Reproduce:**
1. Go to NGB
2. Open Datasets->**NC00371**
3. Go to **Genes** panel
4. Add any optional columns from **Additional menu** (e.g. "Transcript source", "Gene Name")
5. Hide added columns using Column Context menu
6. Apply sorting by any column

***Expected result**
Hidden column

[2021-07-23 11:43] Tatyana2022 commented on #405
Bug was found:
Missing mandatory **Name** column in the Gene table
![image](https://user-images.githubusercontent.com/83421565/126777028-c4670b24-1590-4204-9435-7e4f7dcf79a5.png)

**Extra Details**
**Name** column can be added by clicking on **gene** value in the additional columns. It seems that we have 2 columns: mandatory and additional with the same name

@DmitriiKrasnov @rodichenko @mzueva
Fi

[2021-07-23 11:58] Tatyana2022 commented on #405
Bug was found:
2 additional columns (Source and Gene Source) are disaplyed with the same name in the Gene table

**Steps to reproduce:**
1. Select **SV_Sample1** dataset in the Datasets panel
2. Go to **GENE** panel
3. Add **source**  column in the additional menu
4. Add **gene-source**  column in the additional menu
5. Look at the GENE table

**Expected result:**
2 columns should be displayed in

[2021-07-23 12:56] #475 closed, assigned to okolesn

[2021-07-23 12:58] Tatyana2022 commented on #490
***Fixed and Verified***

[2021-07-23 12:58] #490 closed, assigned to mzueva

[2021-07-23 12:58] Tatyana2022 commented on #474
***Fixed and Verified***

[2021-07-23 12:58] #474 closed, assigned to rodichenko, mzueva, DmitriiKrasnov

[2021-07-23 15:21] Tatyana2022 commented on #405
In the gene table displays the columns previously selected for another dataset.

**Steps to reproduce:**
1. Select **SV_Sample1** dataset in the Datasets panel
2. Go to **GENE** panel
3. Add **ccdc_id** column in the additional menu
4. Go to **Datasets** panel
5. Select **NC_003071** dataset
6. Go to **GENE** panel
7. Look at the table

**Expected result:**
No **ccdc_id** column in the **NC_003071

[2021-07-23 15:33] Tatyana2022 commented on #405
BUG was found:
A column is still selected in the additional menu after hiding it on the table

**Steps to reproduce:**
1. Select NC_003071 dataset in the Datasets panel
2. Go to GENE panel
3. Expand Additional menu
4. Select any column (e.g.Chromosome)
5. Open expand menu in the added column
6. Click on **Hide Column**
7. Expand Additional menu

**Expected result:**
Hidden column (e.g. Chromosome)

[2021-07-23 17:05] Tatyana2022 commented on #500
***Fixed and Verified***

[2021-07-23 17:05] #500 closed, assigned to rodichenko, mzueva

[2021-07-26 07:16] rodichenko commented on #491
@Tatyana2022 #491 should fix that

[2021-07-26 07:52] Tatyana2022 commented on #491
Thanks @rodichenko
***Bug is fixed and verified***

[2021-07-26 07:52] #491 closed, assigned to rodichenko, mzueva

[2021-07-26 12:10] Tatyana2022 commented on #462
***Fixed and Verified***

[2021-07-26 15:00] Tatyana2022 commented on #405
BUG was found:
No results in the table when filtering by existing values in the "Frame" column

**Steps to reproduce:**
1. Select SV_Sample1 dataset in the Datasets panel
2. Go to GENE panel
3. Expand Additional menu
4. Select **Show filters**
4. Select **Frame** column
5. Enter **0** value in the filter of **Frame** column
6. Click on Enter button
7. Look at results in GENE table

**Expected resu

[2021-07-26 15:36] Tatyana2022 commented on #405
BUG was found:
The values in the **Source** column are not sorted

**Steps to reproduce:**
1. Select SV_Sample1 dataset in the Datasets panel
2. Go to GENE panel
3. Expand Additional menu
4. Select **source** value
4. Apply Asc(Desc) sorting to the **Source** column (For now, its Gene Source - will be fixed)
5. Look at values in the **Source** column

**Expected result:**
Values in the **Source**

[2021-07-26 16:14] Tatyana2022 commented on #405
Good to fix:
The GENE table disappears when filtering by a nonexistent value is applied.
<img src="https://user-images.githubusercontent.com/83421565/127022486-27c52576-6438-4dae-afa3-4add727e9586.png" width="400" />
It would be great that GENE table header and the applied filter to be displayed in the GENE panel as in Variants panel
<img src="https://user-images.githubusercontent.com/83421565/127

[2021-07-26 16:24] Tatyana2022 commented on #405
Good to fix:
**Reset filter** and  **Hamburger icon** are displayed in the different order in the bar for Genes and Variants panels
GENES panel
<img src="https://user-images.githubusercontent.com/83421565/127023257-a5dc6246-365e-4838-89d8-642a9a6a6e1f.png" width="400" />
Variants panel
<img src="https://user-images.githubusercontent.com/83421565/127023143-5161e2c7-131d-4e08-8f9b-c5000eb64e38.png"

[2021-07-26 17:06] Tatyana2022 commented on #405
Bug was found:
The value 0 is not stored in the filter search fields of "Score" column

BUG was found:
The values in the **Source** column are not sorted

**Steps to reproduce:**
1. Select SV_Sample2 dataset in the Datasets panel
2. Go to GENE panel
3. Expand Additional menu
4. Select **score** column
5. Enter *-1* value in the FROM field
6. Enter **0** value in the TO field
7. Click **Enter**

**

[2021-07-27 10:20] Tatyana2022 commented on #464
BUG was found:
It is impossible to download file with a large amount of data

**Steps to reproduce:**
1. Go to Datasets panel
2. Select **SV_Sample1** dataset
3. Go to **GENE** panel
4. Click **Download** button
5. Set checkbox **Include header row** in _Download table dat_a modal window
6. Click **Download** button
7. Open downloaded file

**Expected result:**
The file should contain a table with

[2021-07-28 09:12] Tatyana2022 commented on #405
Bug was found:
Filtering and sorting are not reset when switching from one dataset to another

**Steps to reproduce:**
1. Go to Datasets panel
2. Select **SV_Sample1** dataset
3. Go to **GENE** panel
4. Set **gene** value in **Type** column
5. Apply Asc sorting to **Chr** column
6. Go to Datasets panel
7. Select **NC_003071** sataset
8. Look at **Chr** column
9. Look at **Type** column

**Expected

[2021-07-28 10:29] Tatyana2022 commented on #439
Bug was found:
The page is reloading when clicking on any of the GENE table fields

@mzueva @rodichenko @DmitriiKrasnov

[2021-07-28 10:30] Tatyana2022 commented on #405
Bug was found:
The page is reloading when clicking on any of the GENE table fields

@mzueva @rodichenko @DmitriiKrasnov

***Verified***

[2021-07-28 13:16] Tatyana2022 commented on #405
Bug was found:
**Reset genes filter** button doesn't disappear if all filters are empty

**Preconditions:**
1. Go to NGB
2. Select **SV_Sample1** dataset in Datasets panel

**Steps to reproduce:**
1. Go to GENES panel
2. Open **Additional menu**
3. Click **Show filters** button
4. Enter **exon** value in the field of  **Type** column
5. Apply filter
6. Make sure that **Reset genes filter** is disp

[2021-07-28 15:15] Tatyana2022 commented on #405
**Bug was found:**
Sequence query is not filled from context menu blastn / blastp in the **GENES** table

**Steps to reproduce:**
1. Select **SV_Sample1** in datasets
2. Go to GENES panel
3. Open filters by clicking on **Show filters** button
4. Filter **Name** column by **BRCA1** value
5. Filter **Type** column by **gene** value
6. Right click on displayed result in the table
7. Click **BLASTn se

[2021-07-28 15:39] Tatyana2022 commented on #405
Bug was found:
Nucleotide sequence displays in the BLASTp search

**Steps to reproduce:**
1. Select **SV_Sample1** dataset
2. Go to GENES table
3. Right click on the first row in the table
![image](https://user-images.githubusercontent.com/83421565/127352362-2c18fcfb-155e-4ee5-96dd-db298340c993.png)
4. Click **BLASTp** search
5. Look at **Query sequence** field in the BLAST panel

**Expected resul

[2021-07-28 16:04] Tatyana2022 commented on #464
Bug was found:
Wrong name of downloaded file from Variants table

**Steps to reproduce:**
1. Select **SV_Sample1** dataset
2. Go to **Variants** panel
3. Click **Download** button in the right upper-corner of panel
4. Select any format in the opened pop-up
5. Click **Download** button
6. Look at the name of downloaded file

**Expected result:**
The name of file should contain dash only: **Variants

[2021-07-29 15:22] Tatyana2022 commented on #405
Bug was found:
Empty GENE table displays after scrolling the GENE table and opening any panel from context menu

**Steps to reproduce:**
1. Select **SV_Sample1** dataset
2. Open GENES panel
3. Scroll down the table
4. Right click on any row
5. Click on any button in context menu(e.g. **BLASTn search**)
6. Go back to **GENES** panel

**Expected result:**
GENES table should be filled
**Actual result

[2021-07-29 15:31] Tatyana2022 commented on #405
It was decided to leave this behavior as it is for the moment after conversation with @mzueva
 FYI @DmitriiKrasnov @rodichenko

[2021-07-30 11:11] Tatyana2022 commented on #469
Bug was found:
It is impossible to add additional column after applying **Restore view** button in the VARIANTS panel

**Steps to reproduce:**
1. Open **SV_Sample1** dataset
2. Go to **Variants** panel
3. Add **AC** column from Hamburger menu
4. Click **Restore view** in Hamburger menu
5. Expand Hamburger menu
6. Select **AC** column

**Expected result:**
**AC** checkbox should be set. **AC** colu

[2021-07-30 12:20] Tatyana2022 commented on #464
Bug was found:
Missing **(attr)** value in additional column names in Export file

@mzueva

***Verified***

[2021-08-02 10:18] Tatyana2022 opened #511 "BUG: The drop-down list of the Chromosome field is not displayed when the Browser screen is zoomed out"

[2021-08-02 11:00] Tatyana2022 commented on #511
Preconditions:
Close all panels in NGB

To Reproduce:

1. Go to NGB
2. Open **Browser** and **Datasets** panels in **Views** menu
2. Go to 'Datasets' panel
3. Select any dataset (e.g. SV_Sample1)
4. Go to **Browser** panel
5. Expand dropdown list of Chromosome field in the header
4. Reduce the size of the **Browser** window until the menu in the upper right corner of the browser is very close to t

[2021-08-02 11:57] NShaforostov opened #512 "Support of heatmaps displaying"
- [Background](#background)
- [Approach](#approach)
  - [Heatmap file registration](#heatmap-file-registration)
    - [Dendrogram file registration](#dendrogram-file-registration)
    - [Row/column annotation file registration](#rowcolumn-annotation-file-registration)
    - [Cell annotation file registration](#cell-annotation-file-registration)
  - [Heatmap displaying](#heatmap-displaying)
    - [

[2021-08-02 12:35] Tatyana2022 commented on #405
BUG was found:
BLASTn tab displays after searching by BLASTp from track and GENE panel

**Preconditions:**
1. Remove 'blastSearchRequest' in the Application of DevTools
2. Close BLAST panel (if opened)
3. Reload the page

**Steps to reproduce:**
1. Open SV_Sample1 in DATASETS panel
2. Open GENE panel from Views
3. Open filter in Hamburger menu of GENE panel
4. Apply filter in **Name** column by **

[2021-08-02 13:26] Tatyana2022 commented on #405
Bug was found:
An endless loader displays in the GENE panel after reopening the panel

**Preconditions:**
Close GENES panel if it is opened

**Steps to reproduce:**
1. Open SV_Sample1 in DATASETS panel
2. Open GENES panel from Views menu

**Expected result:**
GENES menu should be loaded with values inside

**Actual result:**
An endless loader displays in the GENES panel

@mzueva @rodichenko @Dmitr

[2021-08-04 08:28] Tatyana2022 commented on #405
Bug was found:
An error displays in the console after opening **GENES** panel from **VIEWS** menu

<img src="https://user-images.githubusercontent.com/83421565/128148522-61613ae1-c37d-4e52-9aa3-f8ccc14a194f.png" width="500" />
@mzueva @rodichenko @DmitriiKrasnov

***Verified***

[2021-08-04 11:03] Tatyana2022 opened #514 "BUG: "BLASTp search" button is inactive and has different name in the context menu for some types in GENES panel"

[2021-08-04 11:29] Tatyana2022 commented on #514
**To Reproduce:**

1. Go to NGB
2. Select **SV_Sample1** dataset in **DATASETS** panel
2. Go to **GENES** panel
3. Open context menu for any row with **cds** type
4. Look at **BLASTp search** button

***Expected result***
 Clickable **BLASTp search** button should be displayed in the context menu

***Actual result***
**Not** clickable button with different name (**BLASTp search Feature name is mis

[2021-08-04 11:52] Tatyana2022 commented on #405
Bug was found:
**Error loading sequence for feature** displays instead of a Sequence in the **Feature Info** window

**Steps to reproduce:**
1. Select **NC_003071** in DATASETS panel
2. Open GENES panel from Views
3. Open **Info** window for any row
4. Look at **Sequence** section

**Expected result:**
 Sequence should be displayed in the window (e.g. CTTCTTCACTTGTCAGCTCT)

**Actual result:**
No s

[2021-08-04 12:04] Tatyana2022 commented on #405
Bug was found:
Duplicate GENE's Type **selenocysteine** is displayed in the Type column

**Steps to reproduce:**
1. Select **SV_Sample1** dataset in DATASETS panel
2. Go to GENES panel
3. Select **Show filters** in **Hamburger menu**
4. Сlick on the filter input field of the Type column
5. Look at expanded menu of Type's column

**Expected result:**
Values in the filter must not be repeated. **sel

[2021-08-05 09:45] Tatyana2022 commented on #464
Bug was found:
The names of the columns in the GENE file do not match the names of the columns on the UI

**Steps to reproduce:**
1. Select **SV_Sample1** dataset in datasets panel
2. Go to GENES panel
3. Apply filter **ense00001774048** into **Name** column
4. Click **Download** button in the right upper corner
5. Open downloaded GENES file
6. Compare column names between UI and file

**Expected

[2021-08-05 11:27] Tatyana2022 commented on #496
BUG was found:
The entire row disappears from the Gene panel when any values are changed in the info window

**Steps to reproduce:**
1. Select **SV_Sample1** dataset in DATASETS panel
2. Go to **GENES** panel
3. Click **Info** button for any row (e.g. with name **linc-pint**)
4. Click **EDIT** button
5. Change value for any field (e.g. Type)
6. Click **Save** button and close Info window
7.  Reloa

[2021-08-05 11:57] Tatyana2022 commented on #496
BUG was found:
It is impossible to add a new attribute into Info window if there was a previous attempt to add a duplicate

**Steps to reproduce:**
1. Select **SV_Sample1** dataset in datasets panel
2. Go to GENES panel
3. Click **Info** button for any row (e.g. with name **macf-001**)
4. Click **EDIT** button
5. Click **Add** button
6. Enter already existing name of field (e.g. **tag**)
7. Enter

[2021-08-05 12:36] Tatyana2022 commented on #496
BUG was found:
It is possible to add several attributes at the same time with the same names

**Steps to reproduce:**
1. Select **SV_Sample1** dataset in datasets panel
2. Go to GENES panel
3. Click **Info** button for any row (e.g. with name **macf-003**)
4. Click **EDIT** button
5. Click **Add** button
6. Add new one attribute (e.g. test) with any value
7. Add an attribute with the same name as

[2021-08-05 14:49] mzueva commented on #439
@NShaforostov @Tatyana2022 @ekazachkova
For some formats we perform internal conversion, e.g. if `gbk` file is registered as reference it is converted to `fasta` and `gff` file internally. I assume this feature should allow user to download initial `source` content, not NGB conversion result.

[2021-08-05 15:00] NShaforostov commented on #439
Yes, fair remark.
Currently, this should be applied to:
- `genbank` files
- `featureCount` files

Something else?

[2021-08-05 16:16] Tatyana2022 commented on #496
Bug was found:
It is impossible to close Info window in Edit mode

**Steps to reproduce:**
1. Select **SV_Sample1** dataset in datasets panel
2. Go to GENES panel
3. Click **Info** button for any row
4. Click **EDIT** button
5. Click **X** (Close) button

**Expected result:**
**Info** window should be closed in edit mode

**Actual result:**
**Info** window isn't closed.

Would it be better to have

[2021-08-05 16:21] Tatyana2022 commented on #496
Bug was found:
**Strand** field is not editable

**Steps to reproduce:**
1. Select **SV_Sample1** dataset in datasets panel
2. Go to GENES panel
3. Click **Info** button for any row
4. Click **EDIT** button
5. Look at **Strand** field

**Expected result:**
**Strand** field should be editable
**Actual result:**
**Strand** field is not editable
![image](https://user-images.githubusercontent.com/8342

[2021-08-06 09:58] Tatyana2022 commented on #496
Bug was found:
Deleted attributes are shown again in edit mode

**Steps to reproduce:**
1. Select **SV_Sample1** dataset in Datasets panel
2. Go to **GENES** panel
3. Open **Info** window for any feature
4. Click **EDIT** button
5. Remove any field (e.g. Source)
6. Click **Save** button
7. Click **EDIT** button
8. Look at **Info** window

**Expected result:**
Removed attribute shouldn't be display

[2021-08-06 10:09] Tatyana2022 commented on #496
Bug was found:
It is impossible to add a new field to enter an attribute if a duplicate was previously entered

**Steps to reproduce:**
1. Select **SV_Sample1** dataset in Datasets panel
2. Go to **GENES** panel
3. Open Info window for any feature
4. Click **EDIT** button
5. Click **ADD** button
6. Enter already existing name into the field
7. Click **ADD** button

**Expected result:**
New one emp

[2021-08-06 11:41] Tatyana2022 commented on #496
Bug was found:
Previously deleted mandatory **Frame** field is added as attribute and displays an error in the Info window

**Steps to reproduce:**
1. Select **SV_Sample1** dataset in Datasets panel
2. Go to **GENES** panel
3. Open **Info** window for any feature
4. Click **EDIT** button
5. Remove **Frame** field
6. Click **ADD** button
7. Enter removed **Frame** field
8. Enter value
9. Click **SA

[2021-08-06 15:12] Tatyana2022 commented on #496
Bug was found:
**Save** button is active after entering duplicate name in Info window

**Steps to reproduce:**
1. Select **SV_Sample1** dataset in Datasets panel
2. Go to **GENES** panel
3. Open **Info** window for any feature
4. Click **EDIT** button
5. Enter already existing name of field in the Info window (e.g. frame)

**Expected result:**
**Save** button should be disabled. Warning message sh

[2021-08-06 16:51] mzueva opened #521 "Feature count tracks shall support histogram view"
**Background**

Due to #462, NGB supports `featureCounts` format.
Currently, `featureCounts` tracks are displaying only in a single view type in the "Browser" - similar to genes or features.
It would be convenient to support a histogram view as well - e.g. bar graph with heights proportionally to feature counts.

**Approach**

Add a new item to the `featureCounts` track header to have the ability

[2021-08-06 16:53] mzueva opened #522 "Homologene support [Server]"
**Background**
Related to #503
Task consists of two major parts: Homologene integration and Orthologs/Paralogs search.

**Approach**

### Homologene
Homologene database is available as [xml file](https://ftp.ncbi.nih.gov/pub/HomoloGene/current/homologene.xml.gz). NGB shall provide an API to load Homologene database into internal Lucene index and query this data (similar approach was used for taxon

[2021-08-06 16:57] mzueva opened #523 "Dataset text notes"
**Background**

At the moment, due to #438 user can attach `html` page to a dataset, and that page will be displayed at the "Browser" panel as the description page of the opened dataset.
But in some cases, it would be useful to have the ability attach more description pages in simpler format that can be created by any user, e.g. [`Markdown`](https://en.wikipedia.org/wiki/Markdown) pages. It would

[2021-08-06 17:00] mzueva opened #524 "Dataset/file metadata"
## Background

NGB shall allow to attach key-value metadata to datasets and support:
- search by metadata
- displaying of tags as dataset details (in a tooltip)

## Approach

- Add a new form to manage key-value attributes for a dataset/file:
  - key and value are plain text strings
  - any dataset/file can have any count of such attributes
  - for the same dataset/file, all keys of different attr

[2021-08-06 17:06] #377 closed, assigned to SilinPavel, mzueva, Sergeev-Ilya

[2021-08-06 17:10] mzueva opened #525 "[Draft] Allow to attach local PDB files to gene records"
**Background**
At the moment NGB allows to view protein 3d structure if corresponding PDB file can be found in external databases. For some cases use my want to attach a local PDB file to a gene.

**Approach**
With implementation of #496 user may add any additional attribute to a gene or any other type of feature.
- NGB client shall allow to open a molecular viewer for features with `pdbPath` attr

[2021-08-06 17:14] NShaforostov opened #526 "Motifs search"
## Background

In NGB, we can search for a specific nucleotide sequence in different references using BLAST.
But BLAST is complicated to deploy/configure and takes a lot of time to process a request. For smaller search tasks, e.g. to perform a search for a specific nucleotide sequence in a certain reference genome, it might make sense to implement a "built-in" search engine. For example, such sear

[2021-08-06 17:23] #494 closed, assigned to ekazachkova

[2021-08-09 09:53] Tatyana2022 commented on #425
***Verified***

[2021-08-09 09:54] Tatyana2022 commented on #428
***Verified***

[2021-08-09 09:55] Tatyana2022 commented on #431
***Verified***

[2021-08-09 09:55] Tatyana2022 commented on #426
***Verified***

[2021-08-09 09:56] Tatyana2022 commented on #427
***Verified***

[2021-08-09 10:01] Tatyana2022 commented on #432
***Verified***

[2021-08-09 10:03] Tatyana2022 commented on #433
***Verified***

[2021-08-09 10:11] Tatyana2022 commented on #429
***Verified***

[2021-08-10 10:08] Tatyana2022 commented on #496
Bug was found:
Only **positive** and **negative** values written in caps are allowed to be saved in the **Strand** field

**Steps to reproduce:**
1. Select **SV_Sample1** dataset in Datasets panel
2. Go to **GENES** panel
3. Open **Info** window for any feature
4. Click **EDIT** button
5. Enter **positive** value in low case
6. Click **SAVE** button

**Expected result:**
Applied changes should be

[2021-08-11 12:31] Tatyana2022 opened #532 "UI improvement suggestions"

[2021-08-11 19:19] NShaforostov opened #533 "Datasets tree improvements"
## Background

There are some improvements that we shall implement for the Datasets tree ("DATASETS" panel):
- ability to select the dataset object itself (without its files) - it might be useful when user wants to view only reference, e.g.
- restrict the automatic opening of the dataset with a large count of inner files - to prevent the NGB from freezing

## Approach

### Selection of the dataset

[2021-08-12 08:30] Tatyana2022 commented on #532
Here is a list of suggested improvements:
1. The names of the panels and its labels are located on the different levels in the View menu. It would be better if they were on the same level
<img src="https://user-images.githubusercontent.com/83421565/129029483-9ab1d9ac-af29-4070-9847-102e75e0f699.png" width="200" />

**Fixed**

2. The ** Sequence ** field in Info window is an editable field. Due to

[2021-08-12 09:13] Tatyana2022 commented on #423
***Verified***

[2021-08-12 09:31] Tatyana2022 commented on #424
***Verified***

[2021-08-12 09:51] Tatyana2022 commented on #485
***Verified***

[2021-08-12 10:00] NShaforostov opened #534 "Session sharing"
**Background**

In NGB, there are several ways to share user results of work with other - e.g., to take a screenshot of opened tracks and then send it, share a link, and others.
But it would be convenient, if user might share his/her NGB session to other users that also have the access to the same datasets/files (e.g., with teammates).
Currently, the mechanism of sessions store is implemented in N

[2021-08-12 10:03] Tatyana2022 commented on #486
***Verified***

[2021-08-12 15:46] sidoruka commented on #526
* Add "Search current chr only" option to the search configuration dialog
* Remove track names from the search configuration dialog
* Add "Title" to the search configuration dialog (optional)
* Track names shall be generated as:
  * {Name}_positive/{Name}_negative, if Name is specified
  * {Motif}_positive/{Motif}_negative, if Name is NOT specified
* Search results shall be shown as a table as wel

[2021-08-13 07:39] Tatyana2022 commented on #405
Bug was found:
A dash is displayed in the Type column of GENES panel

**Steps to reproduce:**
1. Select **NC_003071** dataset in DATASETS panel
2. Go to **GENES** panel
3. Open filters in **Hamburger** menu
4. Select **Id(attr)** column
5. Find row with **nc_003071** value
3. Look at  value in **TYPE** column

**Expected result:**
"Default value" displays in the row
**Actual result:**
Dash is disp

[2021-08-17 07:51] Tatyana2022 commented on #405
Bug was found:
Incorrect display of spelling of genes types (3UTR, 5UTR) display in the GENES panel and filters
1. Select **MK024327_data** dataset in DATASETS panel
2. Go to **GENES** panel
3.  Open filters in **Hamburger** menu
4. Find genes with **3UTR** and **5UTR** values in Type column
5. Look at found values

**Expected result:**
The search results display in the panel. The correct type nam

[2021-08-17 12:47] sidoruka commented on #523
* Notes/Aliases shall be an array and we shall be able to add as much as we'd like to
* Respect these aliases in the "filter/search" results in the datasets view

[2021-08-18 13:34] SilinPavel commented on #496
@Tatyana2022 @rodichenko @mzueva @sidoruka

Regarding this bug we agreed to use drop down on ui with possible values for that `NEGATIVE` `POSITIVE` `NONE`

[2021-08-18 13:50] SilinPavel commented on #405
@Tatyana2022  should be resolved by `f501b9b986b15728aceebc08c155c564cde704b4`

***Verified***

[2021-08-18 13:51] SilinPavel commented on #464
@Tatyana2022  should be fine now `4bc0dce526543849fd29ede7b6c1560e838a7ab0`

[2021-08-18 13:53] SilinPavel commented on #405
@Tatyana2022 @mzueva @rodichenko  it is because `source` feature from gbk was translated to `empty` feature in gene fine
we agreed to remove colored tag for such features on ui

**Fixed and verified**

[2021-08-18 14:41] Tatyana2022 commented on #405
Bug was found:
An error is displayed after sorting by empty column and scrolling down

**Steps to reproduce:**
1. Go tom NGB
2. Select **SV_Sample1** dataset in DATASETS panel
3. Go to **GENES** panel
4. Sort Asc by Name column
5. Scroll to the very bottom

**Expected result:**
The GENES panel should be scrolled down
**Actual result**
The GENES table became empty. An error displays in the page:
<i

[2021-08-18 16:00] SilinPavel commented on #405
@Tatyana2022  should be fixed by `1f73d74dcf1bb4c7500d2a7808445472a43734da`

***Verified***

[2021-08-18 16:03] SilinPavel commented on #496
@Tatyana2022 should be fixed by `64628e4b451adcaecbe2ee289f738437e65f897d` and `1f73d74dcf1bb4c7500d2a7808445472a43734da`

[2021-08-18 17:59] NShaforostov commented on #496
@rodichenko
_Addition_:
It would be convenient to freeze **EDIT**, **SAVE** and **CANCEL** buttons at their places on the Info pop-up (not move during the scroll). Currently in cases, when feature has lots of attributes - it could be quiet uncomfortable to scroll up-and-down looking for this buttons to save changes performed in the end of the attribute list, e.g.

[2021-08-19 08:34] Tatyana2022 commented on #439
***Verified***

[2021-08-19 10:03] Tatyana2022 commented on #496
Bug was found:
**Name** and **Id** values are disappear in the GENES panel after editing type of feature

**Steps to reproduce:**
1. Go to NGB
2. Select **NC_003071** dataset in **DATASETS** panel
3. Go to **GENES** panel
4. Find any row with values in **Name** and **Id** columns (e.g. with **mrna** type)
5. Click **Info** button
6. Click **EDIT** button
7. Change type of feature (e.g. **gene**)
8

[2021-08-19 11:41] Tatyana2022 commented on #443
***Verified***

[2021-08-20 15:07] marcelbecker opened #542 "JWT token being ignored in the client"
**Describe the bug**
Passing a JWT token that is accepted by the NGB server to the web client via the postMessage('setToken', ...) API doesn't lead to successful authentication. Though, the token is stored in the localStorage as expected the client is not passing it to the server as an Authorization header.

**To Reproduce**
Steps to reproduce the behavior:
1. Configure the NGB server to use JWT:

[2021-08-23 11:33] Tatyana2022 commented on #464
Enhancement

It would be better to limit the amount of downloaded data, since unloading all data from the GENES and VARIANTS panel can take up to 4 minutes, which in the future can lead to the application crash if there are several downloads at the same time

@mzueva

[2021-08-23 14:13] SilinPavel commented on #526
For the server side the next realization steps is proposed:

Two different methods to search motifs:

 - POST `/reference/motif`
    Body (MotifTrackQuery)
[code]
 This Method will be used to search results for motif track, when whole result is needed, will return `Track<StrandedSequence>`
as result

- POST `/reference/motif/table`

[code]
    Response:
[code]

  `position` - coordinate on `chr` w

[2021-08-24 13:02] SilinPavel commented on #534
@mzueva @DmitriiKrasnov @sidoruka @rodichenko
The next session object structure is proposed:
[code]
`name`, `sessionValue` - is mandatory parameters

`sessionValue` - value that ui is needed to restore session (as it was provided when session was saved)

[2021-08-24 13:56] DmitriiKrasnov commented on #534
Current `sessionValue` format:

[code]

[2021-08-24 17:39] NShaforostov opened #545 "Displaying NGB root page"
**Background**

At the moment, due to #438 user can attach `html` page to a dataset, and that page will be displayed at the "Browser" panel as the description page of the opened dataset.
Also, it would be useful to have the ability to load some page as the NGB "root" page and show such page in the "Browser" panel when no dataset/file is selected (currently, a stub with a short help is shown in thi

[2021-08-25 09:35] NShaforostov opened #546 "Link to the documentation from the main NGB page"
**Background**

At the moment, we have a scope of the NGB user documents (installation guide, user manual, release notes and etc.) placed on the corresponding GitHub pages. If desired, we can convert them to separate set of help-pages and place somewhere. And it would be useful to have a link to this documentation explicitly from the NGB application.

**Approach**

- Add a new system preference th

[2021-08-25 14:09] NShaforostov opened #547 "Molecular viewer enhancements"
## Background

We should expand the **Molecular viewer** functionality by the following features:
- ability to change the view (display) mode for the model
- ability to change the color scheme for the model
- ability to change the model view in an advanced regimen (e.g. change the display mode not for whole model but only for the selected parts, or change the "material" of the model, etc.)
- savin

[2021-08-26 12:33] Tatyana2022 commented on #455
When multiple gene tracks are selected, a panel for multi-selection is displayed and it has a "Features" button. After changing the number of features in this panel, the changes are applied only to one track, and not to all selected ones.
<img src="https://user-images.githubusercontent.com/83421565/130963164-436ecfdc-a39e-4e4c-b52e-c68568a107bf.png" width="200" />

Reflection question:
Should ther

[2021-08-27 11:30] Tatyana2022 commented on #439
@mzueva **FeatureCount** files downloading as .gff files.

[2021-08-27 15:11] marcelbecker opened #553 "X-Frame-Options: DENY -- since version 2.6"
**Describe the bug**
Spring Security prevents content from being embedded in an iframe by default. As a result, the current version 2.6 of NGB cannot be embedded in an iframe.

Spring docs: https://docs.spring.io/spring-security/site/docs/current/reference/html5/#headers-frame-options

**To Reproduce**
Steps to reproduce the behavior:
1. Start NGB `java -jar catgenome-2.6.1.2239.jar`.
2. Open the

[2021-08-30 07:26] Tatyana2022 opened #555 "BUG: "No visual line in the full length of the variation in the Collapsed view""
To Reproduce:

1. Go to NGB
2. Select **SV_Sample1** dataset in DATASETS panel
3. Select **sample_1-lumpy.vcf** file
4. Go to **VARIANTS** panel
5. Click in any variation (e.g. BND  - Chr 5: 181050143)
6. At the vcf-track, select **'Collapsed'** view
7. Look at variation on vcf track in Browser

***Expected result***
Displays a gray thin line across the entire length of the variation from start to

[2021-08-30 10:22] Tatyana2022 opened #556 "BUG: "An error appears in the console when trying to change the Variants view via the keyboard""
**Preconditions:**
Open Console (F12)

**To Reproduce**

1. Go to 'NGB'
2. Select **SV_Sample1** dataset in DATASETS
3. Select **.vcf** file
4. Go to VARIANTS panel
5. Click on any variation
6. Click again on any variation on the another chromosome
7. Go to Expanded view using keyboard {**SHIFT + [}**
8. Look at console

**Expected behavior**
Variants view is expanded. No errors in the console.

*

[2021-08-30 13:04] maryvictol opened #557 "BUG: Feature graphics are displayed incorrect for BED files containing only 3 columns"
**Describe the bug**
Feature graphics are displayed incorrect and jumps during horizontal scrolling for BED files containing only 3 required columns.

**To Reproduce**
1. Go to NGB
2. Open **Twist_Exome_Target_hg38.bed** track
3. Select any chromosome and position (for ex. CHR1 1: 74564432 - 80993668)
4. Scroll track horizontally

**Expected behavior**
Feature graphics should be displayed correspo

[2021-08-31 09:55] Tatyana2022 commented on #503
**BUG was found:**
The Domains tooltip remains open when switching to another panel

**Steps to reproduce:**
1. Go to NGB
2. Select **SV_Sample1** dataset in DATASETS panel
3. Open **GENES** panel in the **Views** menu
4. Filter GENES panel by **drosha** Name
5. Right click by **drosha** with **gene** type
6. Click **Show similar genes** in context menu
7. Click on Gene name value of Homologene
8.

[2021-08-31 10:44] Tatyana2022 opened #559 "BUG: "An error is displayed in the console if at least 1 additional column added to Variations table""
**Preconditions:**
1. Go to NGB
2. Open Console (F12)
3. Select **.vcf** file in **SV_Sample1** dataset
4. Go to VARIANTS panel and stay it open
5. Add any additional column to the table using Hamburger menu

**To Reproduce**
1. Go to any panel, **except** VARIANTS (e.g. DATASETS)
2. Reload the page
3. Look at console

**Expected behavior**
 No errors in the console.

**Actual behavior**
 Displays

[2021-08-31 16:25] Tatyana2022 opened #560 "BUG:"Save" button is disabled for all settings tabs if there are no profiles for variations"
**Preconditions:**
No values in **interest_profiles.json** file

**To Reproduce**

1. Go to 'NGB'
2. Open **Settings** in left menu
3. Go to **VCF** tab
4. Go to any tab (e.g. General)

**Expected behavior**
**Save** button should be enabled for all tabs

**Actual behavior**
 **Save** button is disabled for all tabs
![image](https://user-images.githubusercontent.com/83421565/131665342-ced4f40a-0c7

[2021-09-01 12:51] SilinPavel commented on #526
@mzueva @rodichenko @AlfiyaRF @sidoruka
As discussed we agreed to additionally add the next features:
- Zoom level threshold
  Setting on UI (similar to already existing track thresholds) default value could be `10m` bp

-  Sliding window
   Parameter for motif search request that will affect the size of overlapping region between two parts of reference sequence (on which we split reference while

[2021-09-01 13:03] Tatyana2022 commented on #503
**BUG was found:**
An error is displayed in "Orthologs &Paralogs" tab for some genes with an empty search result

**Steps to reproduce:**
1. Go to NGB
2. Select **SV_Sample1** dataset in **DATASETS** panel
3. Go to **Genes** panel
4. Find gene with **wash7p** name
5. Right click on gene
6. Click **Show similar genes** button in context menu
7. Go to "Orthologs &Paralogs" tab

**Expected result:**

[2021-09-01 13:32] Tatyana2022 commented on #503
**Bug was found:**
No values in **Species** gene column in **Homologene** tab

**Steps to reproduce:**
1. Go to NGB
2. Select **SV_Sample1** dataset in **DATASETS** panel
3. Go to **Genes** panel
4. Find gene with **alk** name
5. Right click on found gene
6. Click **Show similar genes** button in context menu
7. Click on any row in search result
8. Look at values in **Species** column

**Expected

[2021-09-01 17:31] rodichenko commented on #559
@Tatyana2022 b10942c7436a4bcfa8bdbdb9352387ee6b03779f should fix this issue

[2021-09-01 17:58] rodichenko commented on #556
@Tatyana2022 8f835236a84e374e1cd733dd60f90947e1a3b454 fixes that

[2021-09-02 08:54] Tatyana2022 commented on #559
Verified

[2021-09-02 09:03] Tatyana2022 commented on #556
Verified

[2021-09-02 11:13] Tatyana2022 commented on #555
Verified

[2021-09-02 11:31] Tatyana2022 commented on #557
Verified

[2021-09-02 16:57] Tatyana2022 commented on #503
**Bug was found:**
The length of the longest protein in the table is shown in the tooltip for all other proteins

**Steps to reproduce:**
1. Go to NGB
2. Select **SV_Sample1** dataset in **DATASETS** panel
3. Go to **Genes** panel
4. Find gene with **alk** name
5. Right click on found gene
6. Click **Show similar genes** button in context menu
7. Click on any row in search result (e.g. first in th

[2021-09-02 17:24] Tatyana2022 commented on #503
**Bug was found:**
'Groupid' displays instead of Database name in ORTHOLOGS & PARALOGS search results

**Steps to reproduce:**
1. Go to NGB
2. Select **SV_Sample1** dataset in **DATASETS** panel
3. Go to **Genes** panel
4. Find gene with **alk** name
5. Right click on found gene
6. Click **Show similar genes** button in context menu
7. Go to **ORTHOLOGS & PARALOGS** tab
8. Click on displays value

[2021-09-02 19:42] rodichenko commented on #545
I suggest to use current `home.url` property of the global settings (fetched via GET `/defaultTrackSettings`) for such a root page, e.g.:
[code]

If the passed url has a `.md` extension (e.g., `http://ngb.server.com/root.md`), GUI will parse and render it as a markdown source; otherwise, GUI will display this page inside the iframe (current behavior).

[2021-09-03 14:06] Tatyana2022 commented on #503
**Bug was found:**
Wrong sorting of genes with "id:**" name

**Steps to reproduce:**
1. Go to NGB
2. Select **SV_Sample1** dataset in **DATASETS** panel
3. Go to **Genes** panel
4. Find gene with **alk** name
5. Right click on found gene
6. Click **Show similar genes** button in context menu
7. Go to **ORTHOLOGS & PARALOGS** tab
8. Click on displays value in the search result
9. Sort table by **Na

[2021-09-03 14:28] mzueva opened #564 "BUG: Gene context menu is not working for gene track"
**Describe the bug**
Gene context menu (`Show Info, ...`) is not opened for gene tracks for references without annotation attached or just for non-annotation gene files (it is not clear yet).

**To Reproduce**
Steps to reproduce the behaviour:
1. Register a reference file, do not attach annotation gene file it (`ngb rr reference.fa`)
2. Create a dataset with the reference from p.1 (`ngb rd referen

[2021-09-03 14:34] Tatyana2022 commented on #496
**Bug was found:**
The label of the attribute and its too long name are displayed on separate lines

**Steps to reproduce:**
1. Go to NGB
2. Select **SV_Sample1** dataset in **DATASETS** panel
3. Go to **GENES** panel
4. Find gene with **1test** name
5. Click **Info** button
6. Click **EDIT** button
7. Click **ADD** button
8. Enter long name of attribute (e.g. test2384r9q73473294752873459873948598

[2021-09-03 14:38] mzueva commented on #564
@rodichenko see dataset `issue_564` to reproduce on dev

[2021-09-03 15:06] Tatyana2022 commented on #503
**Bug was found:**
The gene track is not displayed in the browser if gene species (NGB) are not related to the current dataset

**Steps to reproduce:**
1. Go to NGB
2. Select **Fruitfly** dataset in **DATASETS** panel
3. Go to **Genes** panel
4. Find gene with **zuc** name
5. Right click on found gene
6. Click **Show similar genes** button in context menu
7. Click on **PLD6,...** value in the sear

[2021-09-03 15:37] Tatyana2022 commented on #503
**Bug was found:**
**Gene id is required** displays in **ORTHOLOGS & PARALOGS** tab for .gbk,.gff files

<img src="https://user-images.githubusercontent.com/83421565/132031376-c3d998c4-72c4-45fc-a90a-a3522ff293cb.png" width="200" />

@mzueva

[2021-09-03 15:44] Tatyana2022 commented on #503
**Bug was found:**
**Show similar genes** button displays in BED track

**Steps to reproduce:**
1. Go to NGB
2. Select **SV_Sample1** dataset in **DATASETS** panel
3. Set checkbox in **GRCh38_Domains** file
4. Set 1: 1 - 413082 coordinates
5. Look at BED track
6. Click on any feature
7. Look at Context menu window

**Expected result:**
**Show similar genes** button shouldn't be displayed in contex

[2021-09-03 16:56] Tatyana2022 commented on #405
Bug was found:
The context menu does not close when the Info window is opened

**Steps to reproduce:**
1. Go tom NGB
2. Select **SV_Sample1** dataset in DATASETS panel
3. Go to **GENES** panel
4. Open context menu for any gene by right click
5. Click on **Info** button for any gene

**Expected result:**
Info window is opened. Context menu window should be closed
**Actual result**
Info window is op

[2021-09-06 10:39] #559 closed, assigned to rodichenko, mzueva

[2021-09-06 10:40] #556 closed, assigned to rodichenko, mzueva

[2021-09-06 10:41] #557 closed, assigned to rodichenko

[2021-09-06 10:41] #555 closed, assigned to rodichenko, mzueva

[2021-09-06 12:19] mzueva commented on #546
@ekazachkova We need to embed documentation into NGB static resources

[2021-09-07 05:47] Tatyana2022 opened #570 "BUG: "Incorrect application behavior when pressing the S button while the molecular viewer is open""
**To Reproduce**

1. Go to 'NGB'
2. Select **SV_Sample1** dataset in DATASETS panel
3. Open **GENES** panel from VIEWS menu
4. Filter panel by **kras** name
5. RIght click bu **kras** gene
6. Click **Show 3D structure** button in context menu
7. Go to Chr coordinates in Browser
8. Enter the letter **S** in coordinates using keyboard

**Expected behavior**
1) The letter **S** should be entered in c

[2021-09-07 06:22] rodichenko commented on #570
@Tatyana2022 65483fe659f65a7b5163c32b38b17aa381230f1b should fix that

[2021-09-07 07:06] Tatyana2022 commented on #570
Verified

[2021-09-07 07:06] #570 closed, assigned to rodichenko

[2021-09-07 07:15] Tatyana2022 opened #571 "BUG:"The molecular model disappears in the Molecular Viewer panel after switching to the Datasets or Homologs panels"
**To Reproduce**

1. Go to 'NGB'
2. Select **SV_Sample1** dataset in DATASETS panel
3. Open **GENES** panel from VIEWS menu
4. Filter panel by **kras** name
5. RIght click by **kras** gene
6. Click **Show 3D structure** button in context menu
7. Go to **DATASETS** panel
8. Go back to **Molecular Viewer** panel

**Expected behavior**
Molecular model should be displayed in Molecular Viewer panel

**

[2021-09-07 09:57] mzueva opened #572 "Configure role assignment depending on user AD groups"
**Background**
At the moment NGB some default roles are assigned automatically to all new users. List of roles can be modified by an admin user using CLI or GUI, but for some cases it would be useful to configure automatic role assignment for users depending in their SAML (AD) groups.

**Approach**
Add new application property `saml.user.role.mapping` in format similar to `saml.user.attributes`, e

[2021-09-07 10:35] mzueva opened #574 "Allow to serve external static resources"
**Background**
A clear and concise description of what the problem is. Ex. At the moment, NGB does not allow [...] and it would be nice to [...] because [...]

**Approach**
A clear and concise description of what you want to happen.

**Other options**
A clear and concise description of any alternative solutions or features you've considered.

[2021-09-07 11:24] #341 closed, assigned to rodichenko, mzueva

[2021-09-08 15:50] mzueva opened #581 "[Server] Heatmap support"
**Background**
This issue provides backend implementation description for #512

**Approach**
Heatmap API:
- `POST /heatmap` - registers new heatmap file, request body:
[code]
- `GET /heatmap/$id` - returns heatmap description by id, which should include:
  - all fields from file registration, specified above
  - unique cell values (number below system property)
  - cell value type
  - max cell val

[2021-09-10 10:36] Tatyana2022 commented on #571
Verified

[2021-09-10 10:36] #571 closed, assigned to rodichenko

[2021-09-10 12:18] mzueva commented on #521
@rodichenko Some minor improvements:
- fix track style (same as Wig)
- shift multiselect for collapsed view is not working
- group scale overflows legend

[2021-09-10 12:25] mzueva opened #586 "Allow to authorize NGB CLI using env vars"
**Background**
For some deployment scenarios it would be helpful to authorize NGB CLI using environment variables.

**Approach**
NGB CLI shall use `NGB_API` and `NGB_TOKEN` environment variables for authorization, these settings should have higher priority than configuration defined in `server.properties` file (set by `set_srv` or `set_token` commands).

[2021-09-10 12:57] NShaforostov commented on #521
@rodichenko another minor improvement:
When user opens the **Manual scale** pop-up (in the **Bar Graph** display mode):
- if there were any displayed bars - in the pop-up, to the field _From_ should be set `0`, to the field _To_ should be set maximal value from all currently displayed bars
- if there were not any displayed bars - in the pop-up, fields _From_ and _To_ should be empty (_current beha

[2021-09-10 14:21] Tatyana2022 commented on #521
**Bug was found:**
The checkbox setting for the "Log scale" field  is not saved in Manual scale

**Prerequisites**
1. Go to NGB
2. Select **SV_Sample_1.byGTF.featureCounts** file in **SV_Sample1** dataset
3. Go to **GENES** panel
4. Find gene with **kras** name using filter
5. Click on found **kras** gene

**Steps to reproduce:**
1. Go to **Browser** panel
2. Go to **Feature_Counts** track in **Br

[2021-09-10 18:28] mzueva commented on #553
Hi @marcelbecker! Sure we'll implement an option to configure **`X-Frame-Options`** header. I'll merge corresponding PR https://github.com/epam/NGB/pull/580 on Monday and let you know.

[2021-09-10 18:39] mzueva commented on #542
Hi @marcelbecker, thank you for this issue. It seems that there was a bug in the client and headers were not set for get requests. This should be fixed by https://github.com/epam/NGB/commit/f8bf8cb9d36b9efeafb80651cc525ded668e7832. Could you please check on the latest release [catgenome-2.6.1.2839.jar](https://ngb-oss-builds.s3.amazonaws.com/public/builds/develop/2.6.1.2839/catgenome-2.6.1.2839.ja

[2021-09-13 12:01] Tatyana2022 opened #592 "BUG: Features overlap each other on track if they are on the same coordinates"
**Preconditions:**
Dataset = SV_sample1
file = sv_sample_1.byGTF.featureCounts

**To Reproduce**

1. Go to 'NGB'
2. Go to DATASETS panel
3. Select file and dataset from Preconditions
4. Go to **BROWSER** panel
5. Set coordinates: **CHR 1: 2350173 - 2353060**
6. Look at **Feature_Counts** track

**Expected behavior**
Features, gene name and length should be displayed at different levels on the trac

[2021-09-14 13:47] Tatyana2022 commented on #521
Bug was found:
An error is displayed in the console when selected any one source and **Log scale** in multi track

**Prerequisites:**
Open Console (F12)

**Steps to reproduce:**
1. Go to NGB
2. Go to **DATASETS** panel
3. Select **SV_Sample_multi.featureCounts** file in **SV_Sample1** dataset
4. Go to **BROWSER** panel
5. Set **CHR 5: 31387327 - 31545365** coordinates
6. Go to **Feature_Counts** t

[2021-09-14 13:53] marcelbecker commented on #542
Hi @mzueva, thank you very much for the fix. It is now working.

We see the Authorization: Bearer <TOKEN> part now in all requests whenever there is a token set in the local storage of the Browser.
As a result, the client is now working with any valid JWT token that's accepted by the server.

Looking forward to the merge of the PR https://github.com/epam/NGB/issues/553 so that we can embed NGB in

[2021-09-15 08:14] Tatyana2022 commented on #592
Verified

[2021-09-15 08:14] #592 closed, assigned to rodichenko

[2021-09-15 08:45] Tatyana2022 commented on #521
Bug was found:
Unable to uncheck a "Features" display

**Prerequisites:**
Dataset = sv_sample1
File = sv_sample_1.byGTF.featureCounts

**Steps to reproduce:**
1. Go to NGB
2. Go to **DATASETS** panel
3. Select dataset and file from Prerequisites
4. Go to **GENES** panel
5. Find gene with **kras** gene name
6. Click on found gene
7. Go to **Feature_Counts** track on **BROWSER**
8.  Set **Features**

[2021-09-16 13:38] mzueva opened #594 "CLI for dataset note management"
Related to #523

**Background**
At the moment dataset notes are managed using GUI, for some cases it would be useful to have CLI support as well.

**Approach**
Implement the following commands:
- `add_note DATASET TITLE TEXT`
- `list_note DATASET`
- `remove_note DATASET NOTE_ID`

[2021-09-17 13:31] mzueva opened #597 "Navigation from track to dataset home page (summary)"
**Background**
At the moment in order to navigate from track to dataset home page user needs to select "CHR: None" or re-select dataset in the dataset tree. It would be nice make such navigation easier.

**Approach**
Add `Summary/Note` menu to track view to allow navigation back to dataset home page.

![image](https://user-images.githubusercontent.com/12640002/133791422-b5418e8d-51fd-4df2-80e5-449

[2021-09-17 13:37] mzueva opened #598 "Allow to view home page for dataset with a large number of files"
**Background**
At the moment GUI doesn't allow to select a dataset with a number of files exceeding some threshold. For such datasets user cannot view home page (summary, description) which is required.

[2021-09-20 10:35] Tatyana2022 commented on #514
@ZMaratovna  **Only GENE, MRNA or CDS Feature Type are supported** message is no longer displayed for all types except exon.

[2021-09-20 11:10] Tatyana2022 opened #599 "BUG: An error is displayed in console when opening the "SV_Sample1" dataset"
**Preconditions:**
Open Dev Console (F12)

**To Reproduce**

1. Go to 'NGB'
2. Go to **DATASETS** panel
3. Select **SV_Sample1** dataset
4. Look at console

**Expected behavior**
No errors in the console

**Actual behavior**
An error is displayed in the console:

`Unhandled rejection TypeError: Cannot read properties of undefined (reading 'trustAsResourceUrl')    at http://oss-1204092014.us-east-1

[2021-09-20 11:43] Tatyana2022 commented on #599
***Verified***

[2021-09-20 11:43] #599 closed, assigned to rodichenko

[2021-09-20 12:31] mzueva opened #600 "Allow to delete reference with annotation"
**Background**
At the moment in order to delete a reference file with attached gene annotation user needs:
- remove gene annotation from reference
- delete gene file
- delete reference file
For cases when reference is created from a single GBK file, it would be nice to have an option to delete reference and annotation at once.

**Approach**
`del_ref` command shall support `-f/--force` flag. If it

[2021-09-20 13:15] Tatyana2022 opened #601 "BUG: No context menu for files with Feature_Counts label"
To Reproduce:

1. Go to NGB
2. Go to 'Datasets' panel
3. Select **sv_sample_1.byGTF.featureCounts** file in  **SV_Sample1** dataset
4. Go to **BROWSER** panel
5. Set **12: 25200174 - 25255550** coordinates in Browser header
6. Go to **Feature_Counts** track
7. Set **Features** value in **Display** view (if not set)
8. Click on any exon/feature

***Expected result***
Context menu should be displaye

[2021-09-20 13:34] Tatyana2022 commented on #564
***Verified***

[2021-09-20 13:34] #564 closed, assigned to rodichenko

[2021-09-20 13:46] mzueva commented on #560
Cannot reproduce

[2021-09-20 13:46] #560 closed, assigned to DmitriiKrasnov

[2021-09-20 15:07] Tatyana2022 commented on #546
**BUG was found:**
Incorrect documentation hyperlink title displays in the tooltip

**Steps to reproduce:**
1. Go to NGB
2. Click the NGB icon in the main menu
3. Look at link under **Report issues** field

**Expected result:**
"Help: **NGB Documentation**" (hyperlink) should be displayed in the tooltip

**Actual result:**
**Documentation** hyperlink displays
<img src="https://user-images.githubus

[2021-09-21 06:43] Tatyana2022 commented on #523
**Bug was found:**
The title of the note does not change in the header after editing

**Steps to reproduce:**
1. Go to NGB
2. Select **test_notes** dataset in **DATASETS** panel
3. Go to **Summary** dropdown menu
4. Select any note (e.g. ss12)
5. Click **EDIT** button
6. Make any changes in **Note title** field (e.g. ss1234)
7. Click **SAVE** button
8. Look at title name in the header of BROWSER p

[2021-09-21 07:05] Tatyana2022 opened #607 "BUG: The tooltip expands to the length of the value inside"
To Reproduce:

1. Go to NGB
2. Go to 'Datasets' panel
3. Select  file with long values in context menu in  any dataset
4. Navigate to any gene in the track

***Expected result***
Tooltip with very long values should be clipped and display ellipsis

***Actual result***
Tooltip expands to the length of the value inside

Environment:

NGB version: 2.6.1.2889
Browser: Chrome Version 93.0.4577.82

[2021-09-21 10:43] Tatyana2022 opened #608 "BUG: An error displays in the console when select dataset one by one"
**Preconditions:**
1. Open NGB
2. Open Console (F12)

**To Reproduce**

1. Go to 'Datasets' panel
2. Select any dataset (e.g. SV_Sample1)
3. Select another dataset (e.g. Fruitfly)
4.  Look at Console

**Expected behavior**
No errors are displayed in the console

**Actual result**
Error displays in the console
`app.bundle.js:196 Error: [$rootScope:inprog] $digest already in progress
http://errors.a

[2021-09-21 11:39] Tatyana2022 commented on #523
**Bug was found:**
**Save** button is not disabled if the note title is empty

**Steps to reproduce:**
1. Go to NGB
2. Select **test_notes** dataset in **DATASETS** panel
3. Go to **Summary** dropdown menu
4. Click **+Add note** button
5. Click **EDIT** button
6. Look at **SAVE** button

**Expected result:**
**SAVE** button should be disabled if the note title is empty
**Actual result:**
**SAVE**

[2021-09-21 12:33] rodichenko commented on #464
@Tatyana2022 85f74e180cad4afc843c0d0261f4ba61c85391a6 should fix this

***Verified***

[2021-09-21 12:33] rodichenko commented on #496
@Tatyana2022 85f74e1 should fix that

***Verified***

[2021-09-21 12:34] rodichenko commented on #405
@Tatyana2022 85f74e1 should fix that

[2021-09-21 12:36] rodichenko commented on #523
@Tatyana2022

and

should be fixed by 85f74e1

***Fixed and Verified***

[2021-09-21 13:03] rodichenko commented on #514
@Tatyana2022 fixed by #606

[2021-09-21 13:21] mzueva commented on #553
Hi @marcelbecker, in the latest [release](https://ngb-oss-builds.s3.amazonaws.com/public/builds/develop/2.6.1.2896/catgenome-2.6.1.2896.jar)  we've added a new configuration option `security.frame-options.disable`, in order to disable X-FRAME protection add this value to  _**catgenome.properties**_ file:
[code]
You should put catgenome.properties in **_config_** folder in the NGB runtime folder wh

[2021-09-21 13:58] Tatyana2022 commented on #523
**Bug was found:**
The Summary page is displayed instead Description when the note is unselected

**Steps to reproduce:**
1. Go to NGB
2. Select **SV_Sample1** dataset in **DATASETS** panel
3. Go to **Summary** dropdown menu
4. Select any note (e.g. test2)
5. Unselect chosen note on step 4
6. Look at dropdown menu

**Expected result:**
**Description** page should be selected and displayed in the B

[2021-09-21 14:20] Tatyana2022 commented on #523
**Bug was found:**
The name of a very long title is not shortened and takes up the length of the BROWSER's header

**Steps to reproduce:**
1. Go to NGB
2. Select **SV_Sample1** dataset in **DATASETS** panel
3. Go to **Summary** dropdown menu
4. Select note with long title
5. Look at the BROWSER's header

**Expected result:**
Very long titles should be shortened and include ellipsis

**Actual resul

[2021-09-21 14:32] Tatyana2022 commented on #514
***Verified***

[2021-09-21 14:32] #514 closed, assigned to mzueva

[2021-09-22 10:29] mzueva opened #611 "Support Heatmap format in CLI"
**Background**
Related to #512
NGB CLI shall allow to handle Heatmap files via `reg_file` & `add` commands. Note, that reference is not required for heatmap registration, so we need to add an option to register file without a reference. I'd suggest to support one argument format for `reg_file` command:
[code]

[2021-09-22 10:51] Tatyana2022 commented on #523
Bug was found:
Incorrect display of some elements in markdown formatting in the **BROWSER** panel

**Steps to reproduce:**
1. Go to NGB
2. Select **SV_Sample2** dataset in **DATASETS** panel
3. Go to **BROWSER**s panel
4. Select **markdown wiki2** note view in the header
5. Click **EDIT** button
6. Look at markdown formatting and remember
7. Click **Cancel** button
8. Compare the display of markdo

[2021-09-22 12:22] mzueva opened #612 "Allow to customize BLAST options inputs"
**Background**
At the moment user has two ways to specify BLAST options: `Max target sequences` and `Expected threshold` inputs and `Options` string for all other options. For some cases it would be helpful to customize which options to show as separate inputs.

![image](https://user-images.githubusercontent.com/12640002/134359364-92fbd51b-798c-44bd-8892-54831c9b70a7.png)

**Approach**
Allow to co

[2021-09-22 14:12] Tatyana2022 opened #613 "BUG: Log scale checkbox does not work for heat map coverage in BAM file"
**To Reproduce**

1. Go to 'Datasets' panel
2. Select **sv_sample_1.bam** file in **SV_Sample1** dataset
3. Set CHR **1: 121321568 - 121321647** coordinates in BROWSER's header
4.  Select **Heat map** coverage
5. Select **Manual scale**
6. Set checkbox in **Log scale** field
7. Click **SAVE** button

**Expected behavior**
 Log scale should be applied to the track

**Actual result**
Log scale view

[2021-09-23 07:04] Tatyana2022 opened #618 "BUG: An error is displayed after applying blastp search on feature_count track"
**To Reproduce**

1. Go to 'Datasets' panel
2. Select **sv_sample_1.byGTF.featureCounts** file in **SV_Sample1** dataset
3. Set CHR **12: 25200174 - 25255550** coordinates in BROWSER's header
4. Go to **FEATURE_COUNTS** track
5. Set **Bar Graph** display
6. Click on feature
7. Click **BLASTp Search**
8. Look at **BLAST** panel

**Expected behavior**
**BLASTp** sub-panel is opened with query sequen

[2021-09-23 07:31] Tatyana2022 commented on #523
**Bug was found:**
Tracks are not displayed in the Browser if more than 1 dataset is selected

**Steps to reproduce:**
1. Go to NGB
2. Go to DATASETS panel
3. Select **SV_Sample1** and **SV_Sample2** datasets
4. Go to VARIANTS panel
5. Click on any variation
6. Look at the Browser

**Expected results:**
All tracks related to both datasets should be displayed in the Browser panel

**Actual results:

[2021-09-23 09:08] marcelbecker commented on #553
Hi @mzueva, we tested the latest release and found it perfectly working.

Thank you very much!!!

[2021-09-23 11:51] rodichenko commented on #601
@Tatyana2022 fixed by #610

[2021-09-23 12:37] rodichenko commented on #607
@Tatyana2022 styles fixed by #609

[2021-09-23 13:45] rodichenko commented on #521
@Tatyana2022

and

should be fixed by #595 and 8f1b3b5

***Fixed***

[2021-09-23 14:31] Tatyana2022 commented on #524
**Bug was found:**
Warning message does not appear and the Save button is active for duplicate attributes written with lowcase

**Steps to reproduce:**
1. Go to NGB
2. Go to DATASETS panel
3. Right click on **SV_Sample1** dataset
4. Click **EDIT ATTRIBUTES** button in context menu
5. Enter already existing key of attribute by lowcase (e.g. test)

**Expected result:**
Warning message should be disp

[2021-09-23 14:59] Tatyana2022 commented on #524
**Nice to have:**
   Now, when you hover over an attribute label in the Summary View (browser panel) the cursor changes to a 'hand', as if you could click the label.
   It would be great not to change the cursor to 'hand' when hovering over, but to leave it as it is, with an 'arrow'

@mzueva @ZMaratovna

***Verified***

[2021-09-23 20:38] Tatyana2022 commented on #607
***Verified***

[2021-09-23 20:38] #607 closed, assigned to ZMaratovna

[2021-09-23 21:37] Tatyana2022 commented on #601
***Verified***

[2021-09-23 21:37] #601 closed, assigned to rodichenko, ZMaratovna

[2021-09-23 22:23] Tatyana2022 opened #619 "BUG: Datasets not displaying after reapplying search to dataset panel"
**To Reproduce**

1. Go to 'Datasets' panel
2. Select any dataset (e.g. **sv_sample1**)
3. Go to Search field at the top of the DATASETS panel
4. Apply any search (e.g. 2)
5. Restart the search
6. Look at results in DATASETS panel

**Expected behavior**
The DATASET's panel should display all datasets and files matching the search value. Matching values should be highlighted

**Actual result**
1) D

[2021-09-24 09:52] NShaforostov commented on #613
@Tatyana2022, I suppose all "Scale" checkboxes should be hidden when the "**Heat Map**" coverage is selected.

[2021-09-24 10:14] Tatyana2022 opened #622 "BUG: Variants graphs collapsed to the left of the visual blocks in the Browser panel"
**To Reproduce**

1. Go to 'Datasets' panel
2. Select **SV_Sample2** dataset
3. Select any file in **SV_Sample1** dataset (e.g. sv_sample_1.bam)
4. Unselect chosen file (e.g. sv_sample_1.bam)
5. Look at Variants graphs in **Browser** panel

**Expected behavior**
Variants graphs should be displayed depending on the values in selected .vcf files

**Actual result**
Variants graphs collapsed to the le

[2021-09-24 10:57] Tatyana2022 commented on #524
**Bug was found:**
Attributes are not saved for Feature_Counts files

**Steps to reproduce:**
1. Go to NGB
2. Go to DATASETS panel
3. Select **sv_sample_1.byGTF.featureCounts** file in **SV_Sample1** dataset
4. Right click on file
5. Click **EDIT ATTRIBUTES** button in context menu
6. Click **ADD** button
7. Enter any key and value of attribute (e.g. key = Key, value = Value)
8. Click **SAVE** but

[2021-09-24 11:25] Tatyana2022 commented on #524
**Bug was found:**
No space between key and value of attribute in tooltip and panel browser

**Steps to reproduce:**
1. Go to NGB
2. Go to DATASETS panel
3. Select **sv_sample_1.byGTF.featureCounts** file in **SV_Sample1** dataset
4. Right click on file
5. Click **EDIT ATTRIBUTES** button in context menu
6. Click **ADD** button
7. Enter any key and value of attribute (e.g. key = Key, value = Value

[2021-09-24 13:38] Tatyana2022 commented on #524
**Bug was found:**
Attribute label is not displayed in the Browser panel for files that have a duplicate in annotations

**Steps to reproduce:**
1. Go to NGB
2. Go to DATASETS panel
3. Select **Halo_pallet_skmer** file in **heatmap** dataset
4. Right click on file
5. Click **EDIT ATTRIBUTES** button in context menu
6. Remember key and value of attribute (e.g. key = Key, value = Value)
7. Close Att

[2021-09-24 13:42] Tatyana2022 commented on #524
**Nice to have:**
It would be nice to have an alphabetical sort by the "key" field in the editor of attributes

@rodichenko @ZMaratovna @mzueva

***Verified***

[2021-09-27 09:53] Tatyana2022 commented on #534
**BUG was found:**
The filter is displayed in the Delete session column

**Steps to reproduce:**
1. Go to NGB
2. Click **Views** button in main menu
3. Select **Sessions** panel
4. Look at Delete session column

**Expected result:**
The filter should not be displayed in the Delete session column (the most right column)

**Actual result:**
The filter is displayed in the Delete session column (the m

[2021-09-27 10:30] Tatyana2022 commented on #534
**Nice to have:**
Add **Reset sessions filter** button to the header of Sessions panel similar to the Genes or Variants panels

@rodichenko @DmitriiKrasnov @mzueva

***Verified***

[2021-09-27 10:36] Tatyana2022 commented on #534
**Nice to have:**
Currently, the Session panel displays only 15 lines per page, creating an empty space if the application is longer than 15 lines.
It would be great to display the number of lines according to the length of the open application

<img src="https://user-images.githubusercontent.com/83421565/134892852-dd5ffbd9-f43e-4865-a869-c6993129efbf.png" width="200" />

@rodichenko @DmitriiKrasn

[2021-09-27 10:39] rodichenko commented on #619
@Tatyana2022 #626 should fix that

[2021-09-27 11:30] Tatyana2022 commented on #534
**BUG was found:**
**SAVE** button is active if **Name** field is empty in **Save session** window

**Steps to reproduce:**
1. Go to NGB
2. Select any Dataset  (e.g. SV_Sample1)
3. Go to Browser
4. Select any chromosome (e.g. X)
5. Click on **Location** icon in main menu
6. Look at **SAVE** button

**Expected result:**
**SAVE** button should be disabled if **Name** field is empty

**Actual result:

[2021-09-28 12:31] Tatyana2022 commented on #619
***Verified***

[2021-09-28 12:31] #619 closed, assigned to rodichenko, ZMaratovna

[2021-09-29 09:24] Tatyana2022 commented on #512
**BUG was found:**
The Heatmap file is dowloaded in xhtml format

**Steps to reproduce:**
1. Go to NGB
2. Go to DATASETS panel
3. Go to **Halo_pallet_skmer** file in **heatmap** dataset
4. Right click on file
5. Click **Download file**
6. Look at downloaded file

**Expected result:**
**Halo_pallet_skmer** file should be downloaded in .tsv format

**Actual result:**
**Halo_pallet_skmer** file is do

[2021-09-29 13:13] Tatyana2022 commented on #523
**BUG was found:**
The **Edit** button is hidden at the top of the page if the note has an empty description

@rodichenko @mzueva @DmitriiKrasnov

***Verified***

[2021-09-29 14:19] rodichenko commented on #488
@Tatyana2022 should be fixed by #630

[2021-09-29 14:20] rodichenko commented on #482
@Tatyana2022 should be fixed by #630

[2021-09-29 14:20] rodichenko commented on #608
@Tatyana2022 should be fixed by #630

[2021-09-29 16:01] NShaforostov opened #634 "Multi-descriptions for a Dataset/Project"
**Background**
At the moment, due to #438 user can attach `html` page to a dataset, and that page will be displayed at the "Browser" panel as the description page of the opened dataset.
Currently, any dataset can have only one description page. But it would be convenient to have the ability to add any count of descriptions.

**Approach**

At the **CLI**:

Expand the functionality of the existing C

[2021-09-29 16:42] NShaforostov opened #635 "Transition to homologs search in case when 3D structure was not found"
**Background**

At the moment, NGB allows to view protein 3D structure if corresponding PDB file can be found in external databases.
In cases when nothing is found - user gets only the corresponding warning message.
But since we've implemented the homolog search (see #503) - this can be used by users for search of the similar genes (similar protein structure) in other species - and then user may t

[2021-09-30 07:00] Tatyana2022 commented on #482
***Verified***

[2021-09-30 07:00] #482 closed, assigned to rodichenko, mzueva, DmitriiKrasnov

[2021-09-30 07:01] Tatyana2022 commented on #608
***Verified***

[2021-09-30 07:01] #608 closed, assigned to DmitriiKrasnov

[2021-09-30 07:39] Tatyana2022 commented on #488
***Verified***

[2021-09-30 07:39] #488 closed, assigned to rodichenko, mzueva, DmitriiKrasnov

[2021-09-30 07:58] Tatyana2022 commented on #523
After discussion with @mzueva @rodichenko it was decided that the buttons (REMOVE, SAVE, CANCEL) will be in the upper right corner of the window

[2021-09-30 08:40] rodichenko commented on #622
@Tatyana2022 should be fixed by #628

[2021-09-30 08:52] rodichenko commented on #612
@mzueva implemented by fa447be4d90f56d05bea63ee020643b22b7eb3bd

[2021-09-30 12:56] Tatyana2022 commented on #622
***Verified***

[2021-09-30 12:56] #622 closed, assigned to rodichenko, ZMaratovna

[2021-10-01 06:50] Tatyana2022 opened #640 "BUG: Species are not displayed in the Organisms field of the BLAST panel"
**To Reproduce**

1. Open NGB
2. Go to **VIEWS** menu
3. Select **BLAST**
4. Go to **BLAST** panel
5. Go to **Organism** field
6. Start type any name of existing organism (e.g. **Homo sapiens**)

**Expected behavior**
The drop-down list should display all matches for the entered species in Organism field

**Actual result**
No matches found. **No organisms found** display in the appeared pop-up.

*

[2021-10-01 07:35] Tatyana2022 opened #641 "BUG: Buttons in the panels header visually disappear when switching between tabs at a small scale"
**To Reproduce**

1. Open NGB
2. Go to **VIEWS** menu
3. Open several panels (e.g. DATASETS, VARIANTS, GENES, MOLECULAR VIEWER)
4. Go to **GENES** panel
5. Reduce the size of the GENE panel to the beginning of the buttons in the header (before **download** button)
6. Go to **DATASETS** panel
7. Go back to **GENES** panel

**Expected behavior**
Download button and hamburger menu should be displayed

[2021-10-01 08:21] Tatyana2022 commented on #523
**BUG was found:**
Long dropdown menu overlaps the warning message

**Steps to reproduce:**
1. Go to NGB
2. Go to DATASETS panel
3. Select **SV_Sample1**
4. Go to BROWSER panel
5. Expand view menu in the header
6. Click on any note (e.g. Note_1)
7. Click **EDIT** button
8. Make any changes in any field
9. Expand view menu in the header
10. Select another note (e.g. Note_2)

**Expected results:**
W

[2021-10-01 09:31] NShaforostov commented on #421
Docs were added via #566 and located [here](https://github.com/epam/NGB/blob/develop/docs/md/user-guide/blast-search.md).

[2021-10-01 09:33] NShaforostov commented on #422
Docs were added via #566 and located [here](https://github.com/epam/NGB/blob/develop/docs/md/user-guide/blast-search.md#search-history).

[2021-10-01 09:35] NShaforostov commented on #431
Docs were added via #566 and located [here](https://github.com/epam/NGB/blob/develop/docs/md/user-guide/blast-search.md#search-results).

[2021-10-01 09:36] NShaforostov commented on #426
Docs were added via #566 and located [here](https://github.com/epam/NGB/blob/develop/docs/md/user-guide/blast-search.md#search-history).

[2021-10-01 09:39] NShaforostov commented on #455
Docs were added via #566 and located [here](https://github.com/epam/NGB/blob/develop/docs/md/user-guide/tracks-genes.md#gene-tracks-options).

[2021-10-01 09:41] NShaforostov commented on #427
Docs were added via #566 and located [here](https://github.com/epam/NGB/blob/develop/docs/md/user-guide/blast-search.md#search-history).

[2021-10-01 10:14] NShaforostov commented on #443
Docs were added via #566 and located [here](https://github.com/epam/NGB/blob/develop/docs/md/user-guide/blast-search.md#blast-search).

[2021-10-01 10:15] NShaforostov commented on #428
Docs were added via #566 and located [here](https://github.com/epam/NGB/blob/develop/docs/md/user-guide/blast-search.md#search-history).

[2021-10-01 10:17] NShaforostov commented on #486
Docs were added via #566 and located [here](https://github.com/epam/NGB/blob/develop/docs/md/user-guide/tracks-genes.md#general-genes-visualization).

[2021-10-01 10:24] NShaforostov commented on #430
Docs were added via #566 and located [here](https://github.com/epam/NGB/blob/develop/docs/md/user-guide/blast-search.md#search-results).

[2021-10-01 10:26] NShaforostov commented on #458
Docs were added via #566 and located [here](https://github.com/epam/NGB/blob/develop/docs/md/user-guide/blast-search.md#blast-search).

[2021-10-01 10:27] NShaforostov commented on #462
Docs were added via #566 and located [here](https://github.com/epam/NGB/blob/develop/docs/md/user-guide/tracks-featurecounts.md).

[2021-10-01 10:31] NShaforostov commented on #438
Docs were added via #566 and located [here](https://github.com/epam/NGB/blob/develop/docs/md/user-guide/datasets.md#description-view).

[2021-10-01 10:33] NShaforostov commented on #433
Docs were added via #566 and located [here](https://github.com/epam/NGB/blob/develop/docs/md/user-guide/blast-search.md#view-alignment-at-track).

[2021-10-01 10:35] NShaforostov commented on #432
Docs were added via #566 and located [here](https://github.com/epam/NGB/blob/develop/docs/md/user-guide/blast-search.md#alignments-info).

[2021-10-01 10:36] NShaforostov commented on #425
Docs were added via #566 and located [here](https://github.com/epam/NGB/blob/develop/docs/md/user-guide/blast-search.md#search-history).

[2021-10-01 10:38] NShaforostov commented on #469
Docs were added via #566 and located [here](https://github.com/epam/NGB/blob/develop/docs/md/release-notes/2.7/2.7.md#restore-panel-view).

[2021-10-01 10:40] NShaforostov commented on #429
Docs were added via #566 and located [here](https://github.com/epam/NGB/blob/develop/docs/md/user-guide/blast-search.md#search-results).

[2021-10-01 10:42] NShaforostov commented on #424
Docs were added via #566 and located [here](https://github.com/epam/NGB/blob/develop/docs/md/user-guide/blast-search.md#search-from-track).

[2021-10-01 10:44] NShaforostov commented on #423
Docs were added via #566 and located [here](https://github.com/epam/NGB/blob/develop/docs/md/user-guide/blast-search.md#blast-search).

[2021-10-01 10:45] NShaforostov commented on #441
Docs were added via #566 and located [here](https://github.com/epam/NGB/blob/develop/docs/md/user-guide/tracks-genes.md#genbank-genes-visualization).

[2021-10-01 10:47] NShaforostov commented on #521
Docs were added via #566 and located [here](https://github.com/epam/NGB/blob/develop/docs/md/user-guide/tracks-featurecounts.md#bar-graph-visualization).

[2021-10-01 10:48] NShaforostov commented on #503
Docs were added via #566 and located [here](https://github.com/epam/NGB/blob/develop/docs/md/user-guide/homologs-search.md#homologs-search).

[2021-10-01 10:52] NShaforostov commented on #546
Docs were added via #566 and located [here](https://github.com/epam/NGB/blob/develop/docs/md/release-notes/2.7/2.7.md#documentation-link).

[2021-10-01 10:53] NShaforostov commented on #533
Docs were added via #566 and located [here](https://github.com/epam/NGB/blob/develop/docs/md/user-guide/datasets.md#viewing-datasets).

[2021-10-01 10:55] NShaforostov commented on #534
Docs were added via #566 and located [here](https://github.com/epam/NGB/blob/develop/docs/md/release-notes/2.7/2.7.md#sessions-sharing).

[2021-10-01 10:56] NShaforostov commented on #524
Docs were added via #566 and located [here](https://github.com/epam/NGB/blob/develop/docs/md/user-guide/datasets.md#metadata).

[2021-10-01 10:57] NShaforostov commented on #523
Docs were added via #566 and located [here](https://github.com/epam/NGB/blob/develop/docs/md/user-guide/datasets.md#dataset-notes).

[2021-10-01 11:02] NShaforostov commented on #464
Docs were added via #566 and located [here](https://github.com/epam/NGB/blob/develop/docs/md/release-notes/2.7/2.7.md#download-table-data).

[2021-10-01 11:03] NShaforostov commented on #439
Docs were added via #566 and located [here](https://github.com/epam/NGB/blob/develop/docs/md/release-notes/2.7/2.7.md#download-file-from-the-gui).

[2021-10-01 11:05] NShaforostov commented on #405
Docs were added via #566 and located [here](https://github.com/epam/NGB/blob/develop/docs/md/user-guide/genes.md#genes).

[2021-10-01 11:06] NShaforostov commented on #496
Docs were added via #566 and located [here](https://github.com/epam/NGB/blob/develop/docs/md/user-guide/genes.md#edit-features-attributes).

[2021-10-01 11:15] NShaforostov commented on #545
Docs were added via #566 and located [here](https://github.com/epam/NGB/blob/develop/docs/md/release-notes/2.7/2.7.md#markdown-for-the-root-page).

[2021-10-01 11:18] NShaforostov commented on #547
Docs were added via #566 and located [here](https://github.com/epam/NGB/blob/develop/docs/md/release-notes/2.7/2.7.md#molecular-viewer-enhancements) and [here](https://github.com/epam/NGB/blob/develop/docs/md/user-guide/overview.md#molecular-viewer-panel).

[2021-10-01 12:39] Tatyana2022 commented on #512
**BUG was found:**
The number of openable  **Color scheme** windows depends on the number of heatmaps opened on the panel

**Steps to reproduce:**
1. Go to NGB
2. Go to DATASETS panel
3. Select **SV_Sample1** dataset
4. Open **Heatmap** panel in **VIEWS** menu
5. Expand **Source** dropdown field
6. Select any other heatmap (e.g. **heatmap-ap**)
7. Open **Color scheme** window

**Expected result:**

[2021-10-02 12:20] rodichenko commented on #512
@Tatyana2022 should be fixed by 12b9c9eefb941f089df4ec56d53f6f497ebeab51

***Verified***

[2021-10-04 06:49] Tatyana2022 commented on #512
**Bug was found:**
All selected heatmaps can be displayed in the Source field at the same time

**Steps to reproduce:**
1. Go to NGB
2. Select **SV_Sample1** dataset in DATASETS panel
3. Open HEATMAP panel in **VIEWS** menu
4. Select **Numeric** heatmap in **Source** dropdown menu
5. Select **test** heatmap
6. Select **Hallo_pallet_skmr** heatmap
7. Look at **Source** field

**Expected result:**
T

[2021-10-04 07:23] Tatyana2022 commented on #512
**Bug was found:**
**Source** field becomes empty after applying a page refresh

**Steps to reproduce:**
1. Go to NGB
2. Select **SV_Sample1** dataset in DATASETS panel
3. Open HEATMAP panel in **VIEWS** menu
4. Reload the page (F5)
5. Look at **Source** field

**Expected result:**
**Source** field should be filled by **Hallo_pallet_skmr** heatmap

**Actual result:**
Empty field displays in the **

[2021-10-04 08:17] Tatyana2022 commented on #512
**Bug was found:**
Heatmap in csv format is not added to the NGB

Input data:
File name - New.csv

              Gene1   Gene2   Gene3
      Sample1 0.03    0.04    -0.01
      Sample2 -0.3    0.2     0
      Sample3 -0.12   0	0.2

Response in swagger:
![image](https://user-images.githubusercontent.com/83421565/135815921-eac94a25-b4a6-47b6-b3d1-89925ff9add7.png)

**Extra details:**
After that, a f

[2021-10-04 11:49] Tatyana2022 commented on #512
**BUG was found:**
Heatmaps in .csv, .tsv formats are not registered in the NGB

![image](https://user-images.githubusercontent.com/83421565/135846286-21c88aeb-d34a-4f11-b0ed-5bd42b2f18bc.png)

@mzueva

[2021-10-04 12:57] Tatyana2022 commented on #512
**Bug was found:**
Annotations do not appear on row and column names

**Prerequisites:**
Heatmap file: New.tsv
          Gene1   Gene2   Gene3
Sample1   0.03    0.04    -0.01
Sample2   -0.3    0.2     0
Sample3   -0.12   0       0.2

Annotation file: Annotation.tsv
 Gene1 ACKR1
 Gene2 MICB
 Sample1 Gorilla_male

**Steps to reproduce:**
1. Go to NGB
2. Go to **SV_Sample1** dataset
3. Select **New**

[2021-10-05 12:36] Tatyana2022 commented on #512
**Bug was found:**
Incorrect display of data in cells for exponential notation (1E+x)

**Steps to reproduce:**
1. Go to NGB
2. Go to **SV_Sample1** dataset in **DATASETS** panel
3. Select **TSV-Heatmap** file
4. Open **HEATMAP** panel from **VIEWS** menu
5. Expand **Source** field
6. Select **TSV-Heatmap** value
7. Go to the table with colored cells
8. Hover over the cell at the intersection of th

[2021-10-05 17:18] Tatyana2022 commented on #512
**Bug was found:**
Empty values in cells are displayed as 0

**Steps to reproduce:**
1. Go to NGB
2. Go to **SV_Sample1** dataset in **DATASETS** panel
3. Select **CSV-Heatmap** file
4. Open **HEATMAP** panel from **VIEWS** menu
5. Expand **Source** field
6. Select **CSV-Heatmap** value
7. Go to the table with colored cells
8. Hover over the cell at the intersection of the **Gene3** and **Sample1*

[2021-10-05 18:14] Tatyana2022 commented on #512
**Bug was found:**
An empty value has string type by default

**Prerequisites:**
Heatmap file: **CSV-Heatmap**
, Gene1, Gene2, Gene3, Gene4
Sample1, -1, -1.2, , 1.4
Sample2, 0.5, 0.2, -0.7, 100
Sample3, -1.8, 1.9, -0.1, 1
Sample4, 2.3, 1.1, -1.3, 0.6

**Steps to reproduce:**
1. Go to NGB
2. Go to **SV_Sample1** dataset in **DATASETS** panel
3. Select **CSV-Heatmap** file
4. Open **HEATMAP** panel

[2021-10-06 08:56] Tatyana2022 commented on #512
**Bug was found:**
Incorrect display of values for a heatmap with a large number of cells in the Color scheme window

**Steps to reproduce:**
1. Go to NGB
2. Go to **SV_Sample1** dataset in **DATASETS** panel
3. Select **Halo_pallet_skmer** file
4. Open **HEATMAP** panel from **VIEWS** menu
5. Expand **Source** field
6. Select **Halo_pallet_skmer** value
7. Сlick on the color bar on the right
8. S

[2021-10-06 08:57] Tatyana2022 commented on #512
**Nice to have:**
It would be great to make a dividing line between annotation and dataset heatmaps in **Source** field.
And apply alphabetical sorting separately for annotated heatmaps and for heatmaps from datasets.

@rodichenko @mzueva @NShaforostov

**Fixed and verified**

[2021-10-06 11:52] Tatyana2022 commented on #512
**Bug was found:**
CSV cell annotations are not added to the heatmaps

**Steps to reproduce:**
1. Сreate a  csv file in terminal (e.g. CSV-Annotation1.csv)
2. Fill file with data:
,Gene1,Gene2,Gene3,Gene4
Sample1,0,1,2,3
Sample2,10,11,12,13
Sample3,20,21,22,23
Sample4,30,31,32,33
3. Add  cell-annotation file to heatmap: **CSV-Annotation1.csv** to **CSV-Heatmap.csv**

**Expected result:**
Cell-anno

[2021-10-06 12:47] Tatyana2022 commented on #512
**Bug was found:**
Incorrect display of data in the table and an error is displayed when adding a csv cell-annotation to a tsv heatmap

**Prerequisites:**
Heatmap-file: **1_2.tsv**
[code]

Cell-annotation file: **1_2annotation.csv**
[code]
**Steps to reproduce:**
1. Go to NGB
2. Go to **SV_Sample1** dataset in **DATASETS** panel
3. Select **1_2** file
4. Open **HEATMAP** panel from **VIEWS** menu

[2021-10-06 13:36] Tatyana2022 commented on #512
**Bug was found:**
It is impossible to add empty values to heatmap files

It should be possible to add the following values as empty fields to the tsv,csv files: missing, spaces, point

@okolesn @mzueva

***Verified***

[2021-10-06 14:37] Tatyana2022 commented on #512
**Bug was found:**
Big empty space is displayed between the heatmap block and all others in the Browser window

**Steps to reproduce:**
1. Go to NGB
2. Select **heatmap** dataset in **DATASETS** panel
3. Go to **BROWSER** panel

**Expected result:**
Block of heatmaps should be displayed below all blocks without much empty space

**Actual result:**
Big empty space is displayed between the heatmap b

[2021-10-06 15:09] Tatyana2022 commented on #512
**Nice to have:**
It would be great to keep the changes applied to the color scheme of the particular heatmap.

@rodichenko @mzueva

***Verified***

[2021-10-07 12:36] Tatyana2022 commented on #512
**Bug was found:**
Long row/column headers with tilted (with or without annotations) - lead to header font rasterization in the heatmap

**Prerequisites:**
Heatmap-file: **Long-headers.tsv**
[code]
**Steps to reproduce:**
1. Go to NGB
2. Go to **SV_Sample1** dataset in **DATASETS** panel
3. Select **Long-headers** file
4. Open **HEATMAP** panel from **VIEWS** menu
5. Expand **Source** field
6. Sel

[2021-10-11 12:46] mzueva opened #650 "BLAST: Support makeblastdb command"
**Background**
At the moment `blast-wrapper` service provides `POST /createdb` method to launch BLAST `makeblastdb` command. We need to support this command in the NGB API as well.

[2021-10-11 16:53] gkumar01 commented on #288
hi @jmercier-lbi,
Have you solved this issue. As i'm having the same.

[2021-10-12 06:06] rodichenko commented on #523
@Tatyana2022 should be fixed by #651

[2021-10-12 10:59] Tatyana2022 opened #653 "BUG: Hamburger menu appears when the default BROWSER panel size is reduced"
**To Reproduce**

1. Open NGB
2. Go to **BROWSER** menu
3. Reduce the size of the browser panel

**Expected behavior**
Hamburger menu shouldn't be displayed in the default BROSWER panel view (no dataset selected)

**Actual result**
Hamburger menu displays in the default BROSWER panel view (no dataset selected)

**Extra Details:**
An empty window displays by clicking on Hamburger menu

**Screenshot

[2021-10-12 11:54] Tatyana2022 opened #654 "BUG: Panels are layered on buttons of header when the screen is zoomed out"
**To Reproduce**

1. Open NGB
2. Go to **VIEWS** menu
3. Open all panels
4. Go to DATASETS panel
5. Open Fruitfly dataset
4. Reduce the right side of the panels
5. Go to Genes panel
6. Look at header of panels

**Expected behavior**
All panels that do not fit in the width in the header should go to the dropdown menu

**Actual result**
The panel is layered on the header buttons

**Screenshots:**
![

[2021-10-12 16:19] mzueva opened #655 "Allow to skip last N rows/columns during heatmap registration"
**Background**
Some heatmaps may contain summary (total) last rows and columns which shall not be present in the data visualisation. It would be helpful to add CLI options (and corresponding API handling) to skip last N rows/columns: e.g:
[code]

[2021-10-13 09:59] Tatyana2022 opened #656 "BUG: Description is displayed as response from Network"
**To Reproduce**

1. Open NGB
2. Go to **DATASETS** menu
3. Select **SV_Sample1** dataset
4. Look at **BROWSER** panel

**Expected behavior**
Description view should be displayed in the Browser panel (if exists)

**Actual result**
The response from the network is displayed instead of the file with the description

**Extra Details:**
Summary view should be displayed in the BROWSER header and panel,

[2021-10-13 10:19] Tatyana2022 opened #657 "BUG: Description is displayed in the BROWSER panel for datasets that have no descriptive file added"
**To Reproduce**

1. Open NGB
2. Go to **DATASETS** menu
3. Select **heatmap** dataset
4. Look at **BROWSER** panel

**Expected behavior**
**Summary** view should be displayed in the Browser panel
Description view shouldn't be displayed in the Browser panel and in the Additional menu in the header

**Actual result**
Description view display in the Browser panel and in the Additional menu of Browse

[2021-10-14 07:59] Tatyana2022 commented on #512
**Bug was found:**
The error is displayed in a discrete view of the color scheme after switching between heatmaps

**To reproduce:**
1. Go to NGB
2. Select **SV_Sample1** in **DATASETS** panel
3. Go to **Heatmaps** panel
4. Select **Long-headers** heatmap in **Source** field
5. Open **Color Scheme** window
6. Select **Discrete** view in **Type** field (if not selected)
7. Delete all colors, except

[2021-10-14 09:23] Tatyana2022 commented on #512
**Bug was found:**
The whole heatmap table is colored in "Missing data" color if there is a Null value in the cell

**To reproduce:**
1. Go to NGB
2. Select **SV_Sample1** in **DATASETS** panel
3. Go to **Heatmaps** panel
4. Select **Empty-cells** heatmap in **Source** field
5. Open **Color Scheme** window
6. Select **Discrete** view in **Type** field (if not selected)
7. Click **Save** button
8.

[2021-10-14 12:12] rodichenko commented on #598
Merged with b525079db6373dad2156c42f9ada006137740d85

[2021-10-14 12:12] rodichenko commented on #656
@Tatyana2022 should be fixed with b525079db6373dad2156c42f9ada006137740d85

[2021-10-14 14:07] Tatyana2022 commented on #464
**Enhancement**
It would be nice to remove the Download button from the Genes and Variants panel header when no dataset is selected
<img src="https://user-images.githubusercontent.com/83421565/137332421-caea6b24-ed11-4793-b161-e5f9178ae553.png" width="200" />
*Now, when trying to download a file, instead of the Download button a loader appears and an error in the console*
<img src="https://user-im

[2021-10-14 14:30] mzueva opened #664 "[BLAST] Create BLAST database when reference is registered"
**Background**
It would be helpful to allow user to automatically create BLAST database when a new reference genome is registered. Let's add an option `--create-blast-db` to `reg_reference` add command. If this flag is specified, cli should perform the following operations after actual reference registration:
- submit `makeblastdb` request for fasta file
- create BLAST database object

[2021-10-15 07:59] Tatyana2022 opened #666 "BUG: A space appears after the highlighted search match in file names in the dataset tree."
**To Reproduce**

1. Open NGB
2. Go to **DATASETS** panel
3. Enter any value in search field (e.d. te)
4. Look at search result in the dataset tree

**Expected behavior**
All search matches should be highlighted without spaces after in the word

**Actual result**
Matches for the searched value is highlighted.
Displays a space after matched value in the word. (e.g. Te st)
This behavior is relevant

[2021-10-15 09:07] mzueva opened #667 "[BLAST] Improve navigation to BLAST results"
**Background**
Let's improve navigation options for BLAST results for `CUSTOM` databases:
- Allow to associate BLAST database with a specific reference. If `referenceId` is specified for a database it shall be used for navigation instead of `taxid`
- For some cases more than one reference can match `taxid` in this cases we should allow user to select a reference from the list for navigation.
- For

[2021-10-15 10:39] Tatyana2022 commented on #524
**Bug was found:**
"Dataset(s)" block with attributes is not displayed in the Browser panel for nested datasets and for their parent

**To reproduce:**
1. Go to NGB
2. Go to DATASETS panel
3. Expand **test_notes** dataset
4. Select **inner** dataset
5. Look at **Browser** panel

**Expected result:**
**Dataset(s)** visual block should be displayed in the Browser panel.
All selected datasets with at

[2021-10-15 11:51] SilinPavel opened #669 "Ability to run tests on postgreSQL database"

[2021-10-15 11:55] Tatyana2022 commented on #656
***Fixed and Verified***

[2021-10-15 11:55] #656 closed, assigned to nobody

[2021-10-15 11:59] Tatyana2022 commented on #657
***Fixed and Verified***

[2021-10-15 11:59] #657 closed, assigned to nobody

[2021-10-18 09:33] Tatyana2022 opened #670 "BUG: Summary view is not displayed by default in the BROWSER panel when the NGB is first launched"
**Prerequisites:**
1. Go to NGB
2. Unselect all datasets (if selected)
3. Apply a hard reload of the app

**To Reproduce**

1. Go to **DATASETS** panel
2. Select any file or dataset (e.g. "SV_Sample2" dataset)
3. Go to **BROWSER** panel

**Expected behavior**
Summary view should be selected in the header and displayed in the Browser panel by default.

**Actual result**
Empty Browser panel. None of

[2021-10-19 07:57] rodichenko commented on #667
@mzueva implemented by #671

[2021-10-19 08:17] rodichenko commented on #666
@Tatyana2022 should be fixed by 650e500cc2af495296e69543d3cec4710d86b4d9

[2021-10-19 08:55] Tatyana2022 commented on #666
***Verified***

[2021-10-19 08:55] #666 closed, assigned to rodichenko, mzueva

[2021-10-19 15:35] PrikhodkoV opened #673 "BUG: NGB freezes and works slow under load"
**To Reproduce**
1. Open NGB
2. Select any files in Datasets
3. Start working with the browser: navigate by variants, scroll the tracks
4. Switch to any other tab, move focus to another app, or start sharing, or roll up chrome browser

**Expected behavior**
The user continues to work in the browser without delay

**Actual result**
NGB does not respond for a couple of seconds (it is impossible to s

[2021-10-20 07:39] Tatyana2022 commented on #670
***Verified***

[2021-10-20 07:39] #670 closed, assigned to rodichenko, mzueva

[2021-10-20 10:53] Tatyana2022 commented on #634
**Bug was found:**
The description is blinking with each new open file belonging to the same dataset

**Steps to reproduce:**
1. Go to NGB
2. Go to **DATASETS** panel
3. Select files one by one in **SV_Sample1** dataset
4. Look at **BROWSER** panel

**Expected result:**
Description should be open in the panel browser without blinking

**Actual result:**
The description is loaded anew every time an

[2021-10-20 11:19] Tatyana2022 commented on #634
**Bug was found:**
The view switches from Description to Summary when unselected at least one file from several datasets with one reference

**Steps to reproduce:**
1. Go to NGB
2. Go to **DATASETS** panel
3. Select any file in **SV_Sample1** dataset
4. Select **SV_Sample2** dataset
5. Go to **BROWSER** header
6. Expand view menu
7. Select any description (e.g. desc.html)
8. Go to **SV_Sample2** d

[2021-10-20 13:17] Tatyana2022 commented on #512
**Bug was found:**
Comma display in the Source field after reloading the page

**To reproduce:**
1. Go to NGB
2. Go to **SV_Sample1** dataset in **DATASETS** panel
3. Select **Test** file
4. Go to **Heatmaps** panel
5. Reload the page (F5)
6. Look at **Source** field

**Expected result:**
Page is reloaded without any changes. Name of heatmap display in the **Source** field (Test)

**Actual result:

[2021-10-20 13:19] #667 closed, assigned to rodichenko, DmitriiKrasnov

[2021-10-20 13:24] mzueva opened #675 "BUG: Unable to view read info for plain users"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Login as non-admin user
2. Select BAM track and go to reads
3. Click on any read and observe that read info is not loaded

**Screenshots**
![image](https://user-images.githubusercontent.com/12640002/138101157-b7b8b206-92d8-4a21-bfdc-9760b34b5a21.png)

**Additional context*

[2021-10-20 13:51] Tatyana2022 commented on #512
**Bug was found:**
The drop-down list of the "Source" field moves after clicking the **maxinise/minimise** button.

**To reproduce:**
1. Go to NGB
2. Go to **SV_Sample1** dataset in **DATASETS** panel
3. Select **Test** file
4. Go to **Heatmaps** panel
5. Click on **maximise** button
6. Expand **Source** drop-down list
7. Click **minimise** button
8.  Expand **Source** drop-down list

**Expected r

[2021-10-21 08:36] Tatyana2022 commented on #512
**Bug was found:**
The heatmap is not colored and loader text is displayed instead

**To reproduce:**
1. Go to NGB
2. Go to **SV_Sample1** dataset in **DATASETS** panel
3. Select any file (e.g.**Test**)
4. Go to **Heatmaps** panel

**Expected result:**
The heatmap is colored according to the color scheme

**Actual result:**
The heatmap is not colored, the Loader text is displayed instead.
An error

[2021-10-21 12:02] Tatyana2022 opened #676 "BUG: An errors are displayed in the console after double clicking on the "Shorten introns" button"
**Prerequisites:**
Open Console (F12)

**To Reproduce**

1. Go to NGB
2. Go to **Sessions** panel
3. Select **Shorten introns** session
4. Go to **Gene** track
5. Click twice on **Shorten introns** checkbox
6. Look at console

**Expected behavior**
Errors shouldn't be displayed in the console

**Actual result:**
Errors display in the console

**Environment:**
Production
NGB version: 2.6.1
Browser:

[2021-10-21 12:59] Tatyana2022 commented on #512
**Bug was found:**
**Source** field is empty for last opened heatmap

**To reproduce:**
1. Go to NGB
2. Go to **SV_Sample1** dataset in **DATASETS** panel
3. Select any file (e.g. **Test**)
4. Go to **HEATMAP** panel
5. Relad the page (F5)
5. Uncheck chosen file in DATASETS panel (e.g. **Test**)
6. Go back to **HEATMAP** panel
7. Reload the page
7. Look at **Source** field

**Expected result:**
**

[2021-10-21 13:13] Tatyana2022 commented on #512
**Bug was found:**
Errors display in the console after opening a session with heatmaps

**Prerequisites:**
Open any heatmap file

**To reproduce:**
1. Go to NGB
2. Open **Sessions** panel in **VIEWS** menu
3. Go to **Sessions** panel
3. Filter table by **heatmap** value in the **Name** column
4. Click on any session (e.g. Heatmap Test)
5. Look at console

**Expected result:**
Errors shouldn't be d

[2021-10-22 08:04] Tatyana2022 commented on #512
**Bug was found:**
Missing data are not highlighted in the heatmap

**To reproduce:**
1. Go to NGB
2. Expand **SV_Sample1** in **DATASETS** panel
3. Select **CSVTest2** file
4. Go to **HEATMAP** panel
5. Navigate to cell with **null** value in colored heatmap

**Expected result:**
The Null value should be colored in accordance with the color specified in the Missing data button (e.g. white)

**Act

[2021-10-25 09:53] rodichenko commented on #512
@Tatyana2022 should be fixed by c021802857bcb169dc64961b2a1c68cb95f2c1a4

[2021-10-25 09:56] rodichenko commented on #512
@Tatyana2022 should be fixed by 7edb738c044919ca55e4e5a1ae56150a7dd23cfd

[2021-10-25 09:57] rodichenko commented on #512
@Tatyana2022 should be fixed by b67e37224b95bdecf4556122ce1b923251a4a92e

[2021-10-25 09:58] rodichenko commented on #512
@Tatyana2022 should be fixed by f0955965a0f932b85057efb76437bea085296f8f

[2021-10-25 10:37] NShaforostov commented on #512
Docs were added via #631 and located [here](https://github.com/epam/NGB/blob/develop/docs/md/user-guide/tracks-heatmap.md#heatmap-track).

[2021-10-26 08:42] Tatyana2022 commented on #512
**Bug was found:**
Session opens the first heatmap in the Source list instead of the one set for saving

**To reproduce:**
1. Go to NGB
2. Go to **DATASETS** panel
3. Select all heatmap files (e.g. in **heatmap**  dataset)
4. Go to **HEATMAP** panel
5. Select any non-first heatmap in **Source** field (e.g. **large**)
6. Select any chromosome in **Browser** panel
7. Click on **location** button in

[2021-10-26 10:33] Tatyana2022 commented on #512
**Enhancement**
Shouldn't be possible to add more than 2 children to the parent in trees

@okolesn

[2021-10-26 11:32] Tatyana2022 commented on #512
**Bug was found:**
The cursor is displayed in the color selection box when quickly remove colors in a color scheme

**To reproduce:**
1. Go to NGB
2. Go to DATASETS panel
3. Select **CSVTest** file in **SV_Sample1** dataset
4. Go to HEATMAP panel
5. Open **Color Scheme** window
6. Select **Discrete** view
7. Remove fields with colors quickly

**Expected result:**
All fields are removed except one.

[2021-10-26 17:24] Tatyana2022 commented on #512
**Bug was found:**
The checkbox is automatically set in the heatmap section of the browser panel

**To reproduce:**
1. Go to **DATASETS** panel
2. Select **large** file in **heatmap** dataset
3. Go to **Browser** panel
4. Set checkbox in **large** value in **HEATMAP** section
5. Go to **DATASETS** panel
6. Unset checkbox for **large** file
7.  Set checkbox for **large** file
8. Look at **HEATMAP**

[2021-10-28 06:52] Tatyana2022 commented on #512
**Bug was found:**
Incorrect display of data in color scheme for exponential notation (1E+x)

**Steps to reproduce:**
1. Go to NGB
2. Go to **SV_Sample1** dataset in **DATASETS** panel
3. Select **Empty4.csv** file
4. Open **HEATMAP** panel from **VIEWS** menu
5. Expand **Source** field
6. Select **Empty4.csv** value
7. Open **Color Scheme** window
8. Select **Discrete** view in expanded menu
9. L

[2021-10-28 09:46] Tatyana2022 commented on #512
**Bug was found:**
An errors are displayed for negative numbers when reopening heatmap and color scheme

**To reproduce:**
1. Go to NGB
2. Go to **DATASETS** panel
3. Select **Heatmap_CSV** file in **heatmap** dataset
4. Go to **BROWSER** panel
5. Open **Heatmap_CSV** in **Heatmap** visual block
6. Open **Color Scheme**
7. Select **Discrete** view (if not selected)
8. Click **Save** button
9. Clos

[2021-10-28 10:54] mzueva opened #682 "Strain Lineage"
### Background
NGB shall support visualisation of a lineage for a family of strains or reference genomes. Lineage is represented as a one-directional graph where nodes represent a strain (genome) and edges represent an impact used to create a progeny from a parent strain.
![image](https://user-images.githubusercontent.com/12640002/140576507-322da13d-28b2-4919-b53c-89eb72042725.png)

### Approach
A

[2021-10-28 11:36] Tatyana2022 commented on #512
**Bug was found:**
The values for the first row of the cell-annotation are duplicated for all subsequent rows of the heatmap

**Preconditions:**
Cell-annotation file: **Cell-AnnotationCSV.csv**
[code]

**To reproduce:**
1. Go to NGB
2. Go to **DATASETS** panel
3. Select **Heatmap_CSV** file in **heatmap** dataset
4. Go to **BROWSER** panel
5. Set checkbox in **Heatmap_CSV** file
6. Navigate to cel

[2021-10-28 12:05] Tatyana2022 commented on #675
***Fixed and verified***

[2021-10-28 12:05] #675 closed, assigned to rodichenko

[2021-10-29 08:04] Tatyana2022 commented on #512
**Bug was found:**
Cells that are not part of the tree structure are colored as missing data in the heatmap

**Preconditions:**
Cell-annotation file: **Tree.txt**
[code]

**To reproduce:**
1. Go to NGB
2. Go to **DATASETS** panel
3. Select **Heatmap_CSV** file in **heatmap** dataset
4. Go to **BROWSER** panel
5. Set checkbox in **Heatmap_CSV** file
6. Look at heatmap

**Expected result:**
All cell

[2021-11-05 20:32] #655 closed, assigned to okolesn

[2021-11-05 20:32] #612 closed, assigned to rodichenko, DmitriiKrasnov

[2021-11-05 20:33] #611 closed, assigned to okolesn

[2021-11-05 20:33] #597 closed, assigned to rodichenko, DmitriiKrasnov

[2021-11-05 20:33] #586 closed, assigned to ekazachkova

[2021-11-05 22:14] mzueva commented on #682
@DmitriiKrasnov I've updated task description, please take a look

[2021-11-08 12:06] rsolovyev opened #686 "Strain analysis"
## Background

NGB supports VCF format - users can view VCF-tracks in the Browser, open separate variants to get info, view the full list of variants from the VCF file in the VARIANTS panel.
Currently, this functionality is fully supported for single-sample VCF.
In strain analysis, it is important to be able to work with several strains at the same time. Including with variants data received from

[2021-11-08 14:14] okolesn commented on #682
**Strain Lineage Tree format**
![image](https://user-images.githubusercontent.com/83080415/141760909-bd89eea4-308e-4ec3-af40-bb17430f8300.png)

Strain Lineage Tree should be described by two files: for Nodes and for Edges.
Both are plain text files in TSV format.
"." or "-" should be used to display an empty value.
Attributes should be a list of key=value pairs separated by comma.

**Nodes file ex

[2021-11-11 08:15] Tatyana2022 opened #688 "BUG: The Database search results window visually truncates the search results in the BLAST panel"
**To Reproduce**

1. Go to NGB
2. Go to **Views** menu
3. Select **BLAST** panel
4. Go to **blastp** tab
5. Go to **Database** field
6. Enter **n** value
7. Look at field with results

**Expected behavior**
The Database search results  window  should be proportional to the number of results or display a scroll, but not crop the results in the middle

**Actual result:**
 Search results window displ

[2021-11-15 12:07] rsolovyev opened #690 "Support of Multiple Alignment Format (*.maf)"
## MAF format

The multiple alignment format stores a series of one or more nucleotide or amino acid sequences aligned to each other.

### General Structure

#### *.maf* format

- first word of a line indicates its type:
  - Lines starting with #: **comments**
  - Lines starting with ##: **meta-data** (can be ignored by most programs)
- Each alignment block:
  - starts with "a" line
  - contains "

[2021-11-16 09:07] mzueva opened #692 "User activity logging"
**Background**

For some cases it would be helpful to log user activity for further analysis.

**Approach**
- User requests shall be logged to the log directory (same which is used for `catgenome.log`) in `requests.log` file, file shall be rollout daily with max 30 files stored, logs shall be stored in json format
- As an option we should consider `CommonsRequestLoggingFilter` for implementation

[2021-11-16 11:40] mzueva opened #693 "BLAST: Filter available organisms according to BLAST database"
**Background**

At the moment BLAST panel allows to limit query by include/exclude organism options. User can select organisms from a full NCBI taxonomy database which may lead to job failure when an organism is selected, which is not present in the database. It would be helpful to allow user select organism only from a list of taxonomy ids actually present in the database.

**Approach**

- NGB sh

[2021-11-17 08:59] okolesn commented on #693
**BLAST command to get taxids**:
`blastdbcmd -db [database name] -outfmt "%T" -entry all`

output:
947157
1497649
283647

-----------------------------------
**createdb command**:
`makeblastdb -in test.fsa -parse_seqids -blastdb_version 5 -taxid_map test_map.txt -title "Cookbook demo" -dbtype prot`

test_map.txt example:
[code]

[2021-11-19 11:17] Tatyana2022 commented on #682
**Bug was found:**
Infinite loader is displayed when restarting the Lineage panel if no reference is selected

**Prerequisite**
Make sure that the flag is not set for any file  in the Datasets panel

**To reproduce:**
1. Go to NGB
2. Open **LINEAGE** panel from main menu
3. Look at **LINEAGE** panel

**Expected result:**
Lineage tree shouldn't be displayed in the panel. The following text should b

[2021-11-19 14:31] Tatyana2022 commented on #682
**Bug was found:**
Lineage tree is not displayed in the Lineage panel when navigating from the dropdown menu of reference track

**Prerequisite**
Open Dev Console (Ctrl+F12)

**To reproduce:**
1. Go to NGB
2. Open LINEAGE panel from main menu
3. Go to **DATASETS** panel
4. Select **SV_Sample2** dataset
5. Go to **BROWSER** panel
6. Set any chromosome (e.g. CHR:1)
7. Go to **REFERENCE** track
8. Ex

[2021-11-19 15:51] Tatyana2022 commented on #682
**Bug was found:**
Previously opened label does not close when switching between lineages

**To reproduce:**
1. Go to NGB
2. Go to **DATASETS** panel
3. Select **SV_Sample2** dataset
4. Open LINEAGE panel from main menu
5. Click on any node or edge (e.g. date in **strain-10**) in opened **node** lineage
6. Go to **Source** field
7. Select any lineage, except opened (e.g. **Test**)
8. Look at opene

[2021-11-22 07:41] Tatyana2022 commented on #682
**Bug was found:**
No information message in the Lineage panel if a reference without lineage trees is selected

**To reproduce:**
1. Go to NGB
2. Go to **DATASETS** panel
3. Select **test** dataset without lineage trees
4. Open LINEAGE panel from main menu

**Expected result:**
Lineage tree shouldn't be displayed in the panel. The following text should be displayed:
[code]

**Actual result:**
No

[2021-11-22 08:11] Tatyana2022 commented on #682
The following improvements have been suggested since the 19.11 stand-up:
1. Remove duplicate Name of Lineage below the Source field - ***Verified***
2. The last open lineage should be saved as in heatmaps - ***Verified***
3. Move the panel to the right side of the application - ***Verified***
4. Center the tree and reduce the size of the label when press the maximize button
5. Add buttons: **+**,

[2021-11-22 08:49] Tatyana2022 commented on #682
**Bug was found:**
Hyperlinks are not active in nodes labels

**To reproduce:**
1. Go to NGB
2. Go to **DATASETS** panel
3. Select **SV_Sample2** dataset
4. Open **LINEAGE** panel from main menu
5. Select **node** lineage in **Source** field
6. Click on any box of node (e.g. on date in **strain-01**)
6. Click on hyperlink in appeared label (e.g. **strain-01 (sequenced 2020-11-10)**)

**Expected re

[2021-11-22 08:58] Tatyana2022 commented on #682
**Bug was found:**
Incorrect display of alphabetical sort in the **Source** field

**To reproduce:**
1. Go to NGB
2. Go to **DATASETS** panel
3. Select **SV_Sample2** dataset
4. Open **LINEAGE** panel from main menu
5. Expand drop-down menu in **Source** field

**Expected result:**
There should be an alphabetical sorting in the **Source** field according to the general behavior of the application

[2021-11-23 13:54] Tatyana2022 commented on #682
**Bug was found:**
Missing node Description values

**Prerequisite:**
1)Open Network in Dev console (Ctrl+F12)
2) empty_date_node.txt
[code]
**To reproduce:**
1. Go to NGB
2. Go to **DATASETS** panel
3. Select **SV_Sample1** dataset
4. Open **LINEAGE** panel from main menu
5. Select **EmptyDesc** lineage in **Source** field
6. Click on any box of node (e.g. on date in **strain-02**)
7. Look at lab

[2021-11-23 14:15] Tatyana2022 commented on #682
**Bug was found:**
It is impossible to add a lineage if there is an empty date value in the node

**Expected result:**
It should be possible to add files with empty values in the date column (using "." or "-")

**Actual result:**
Server error is displayed in Swagger when trying to send a file with an empty date

 @mzueva @okolesn

***Verified***

[2021-11-25 13:51] Tatyana2022 commented on #682
**Bug was found:**
Missing attributes in the edge labels

**To reproduce:**
1. Go to NGB
2. Go to **SV_Sample1** dataset in **DATASETS** panel
3. Open **LINEAGE** panel in main menu
4. Select **node** lineage in **Source** dropdown field
5. Click on any edge (e.g. between strain-01 and strain-02)
6. Look at label in the upper right corner

**Expected result:**
**Type of interaction** and **attribu

[2021-11-26 14:54] rodichenko commented on #682
@Tatyana2022 should be fixed by #701

[2021-11-30 07:18] Tatyana2022 commented on #512
**Bug was found:**
Multi-select for heatmaps available in the Browser panel

**To reproduce:**
1. Go to NGB
2. Go to **DATASETS** panel
3. Go to **heatmap** dataset
4. Select **tree** and **large** files
5. Go to **BROWSER** panel
6. Select **tree** file
7. Select **large** file
8. Look at heatmap visual block in browser panel

**Expected result:**
The checkbox should be set for the last selected

[2021-11-30 08:39] Tatyana2022 commented on #512
**Bug was found:**
The heatmap with text-cells is not colored according to the Color Scheme

**To reproduce:**
1. Go to NGB
2. Go to **DATASETS** panel
3. Go to **heatmap** dataset
4. Select **Text_cells(non-empty)** files
5. Go to **BROWSER** panel
6. Set checkbox in **Text_cells(non-empty)** heatmap
7. Open **Color Scheme** window
7. Remember colors added to existing values in the table
8. Close

[2021-11-30 11:32] Tatyana2022 commented on #512
**Bug was found:**
The selection of the previously selected heatmap disappears in Browser panel when a new file is selected in the Datasets

**To reproduce:**
1. Go to NGB
2. Go to **DATASETS** panel
3. Go to **heatmap** dataset
4. Select **tree**  file
5. Go to **BROWSER** panel
6. Select **tree** file
7. Go back to **DATASETS** panel
7. Select **large** file
8. Look at heatmap visual block in br

[2021-11-30 11:41] Tatyana2022 commented on #512
**Bug was found:**
An error appears in the console when double-clicking on the 'large' heatmap in BROWSER panel

**Preconditions:**
Open Dev-Console (Ctrl+F12)

**To reproduce:**
1. Go to **DATASETS** panel
2. Select **large** file in **heatmap** dataset
3. Go to **Browser** panel
4. Set checkbox in **large** value in **HEATMAP** section
5. Go to **DATASETS** panel
6. Unset checkbox for **large**

[2021-11-30 11:57] Tatyana2022 commented on #512
**Bug was found:**
Сhromosome values are not displayed in the color scheme

**To reproduce:**
1. Go to NGB
2. Go to **DATASETS** panel
3. Go to **heatmap** dataset
4. Select **Annotations_CSVTest**  file
5. Go to **BROWSER** panel
6. Set checkbox in **Annotations_CSVTest**
7. Open **Color Scheme** window

**Expected result:**
Each value in a cell should be assigned a specific color

**Actual resul

[2021-12-01 13:45] Tatyana2022 commented on #682
**Bug was found:**
The lineage slides to the right or left when zooming in or out

**To reproduce:**
1. Go to NGB
2. Select **SV_Sample1** dataset in DATASETS panel
3. Open **LINEAGE** panel in main menu
4. Select **Empty** lineage in **Source** dropdown field
5. Click on **+** button
6. Double click on **-** button

**Expected result:**
The lineage tree should maximize and minimize in the center

[2021-12-01 14:39] Tatyana2022 commented on #682
**Bug was found:**
The order of displaying attributes in the label is different from the order in the file

**Prerequisites:**
empty-nodes1.txt
[code]

**To reproduce:**
1. Go to NGB
2. Select **SV_Sample1** dataset in DATASETS panel
3. Open **LINEAGE** panel in main menu
4. Select **Empty** lineage in **Source** dropdown field
5. Click on **Strain-03** node
6. Look at node's label
7. Сompare the

[2021-12-02 11:34] Tatyana2022 commented on #682
**Bug was found:**
The name of the lineage disappears from the **Source** field when a new tree is added to the reference

**Prerequisites:**

Delete_node.txt
[code]
Dlede_edge.txt
[code]

**To reproduce:**
1. Go to NGB
2. Go to DATASETS
3. Select **SV_Sample1** dataset
4. Open **LINEAGE** panel
5. Select **Simple** in **Source** field
6. Register lineage with any name (e.g. **Delete-test**) using

[2021-12-02 21:38] Tatyana2022 commented on #682
**Bug was found:**
Empty lineage page is displayed when deleting the tree and reloading the page

**Prerequisites:**
Register lineage with any name (e.g. **Delete-test**)
Delete_node.txt
[code]
Dlede_edge.txt
[code]

**To reproduce:**
1. Go to NGB
2. Go to DATASETS
3. Select **SV_Sample1** dataset
4. Open **LINEAGE** panel
5. Select registered lineage from **Prerequisites** (e.g. **Delete-test**)

[2021-12-06 12:04] #692 closed, assigned to okolesn

[2021-12-08 12:18] mzueva commented on #682
@DmitriiKrasnov @Tatyana2022
When lineage panel is opened without any dataset all available trees shall be shown in the drop down menu. When lineage panel was opened in the context of some reference, lineage trees associated with this reference shall be shown at first positions and then all other trees, reference-related and other trees shall be divided in the list by a line or some other delimite

[2021-12-09 11:21] NShaforostov opened #706 "Split view via unified coordinates and search control"
**Background**

Currently, NGB supports split view for the Browser panel, e.g. to open mate regions of pair alignments or show pair for inter-chromosomal variants.
It could be convenient to expand this functionality and allow users to split browser for any location of interest - via the unified coordinates and search control.

**Approach**

- Add the support of specifying two pairs of coordinates

[2021-12-09 13:54] NShaforostov opened #707 "Ability to configure the visibility of Browser pane controls for using in iFrame"
**Background**

Currently, when the Browser NGB pane is used in `iFrame` elements - all pane controls are being displayed the same as in "regular" mode. It may confuse users in some cases, e.g. user can click the cross button on the pane - this will close all tracks, pane header but the element itself (`iFrame`) will be still shown as empty gray-filled rectangular.
To avoid such cases, we should a

[2021-12-09 22:34] Tatyana2022 commented on #682
**Bug was found:**
Source field is empty when you first open the LINEAGE panel with the selected dataset

**Prerequisites:**
Open LINEAGE panel

**To reproduce:**
1. Go to NGB
2. Go to DATASETS panel
3. Apply search by "lineage" value in the search field
4. Select any dataset with "lineage" attribute
5. Go to LINEAGE panel
6. Look at Source field

**Expected result:**
**Source** field is filled by

[2021-12-14 11:26] Tatyana2022 commented on #682
***Bug was found:***
Trees of the last open reference are displayed in the source field for a reference without lineages

**Prerequisites:**
Reference ID of **HG38** = 225

***To reproduce:***
1. Go to NGB
2. Go to DATASETS panel
3. Select **SV_Sample2** dataset in related to **GRCH38** reference
4. Go to LINEAGE panel
5. Expand **Source** field
6. Remember all lineages before the line related to

[2021-12-16 10:18] #444 closed, assigned to SilinPavel

[2021-12-16 12:22] Tatyana2022 commented on #706
**Bug was found:**
Enter button does not work with "<COORDINATE.>" and "<CHR_NAME>:<START_COORDINATE>-<FINISH_COORDINATE>" format

**Steps to reproduce:**
1. Go to NGB
2. Go to DATASETS panel
3. Select **SV_Sample2** dataset
4. Go to BROWSER panel
5. Select **4** chromosome in dropdown menu
6. Set following coordinates in the field: 25665006 4:49096-50124
7. Click **Enter** button on keyboard

**E

[2021-12-16 12:26] Tatyana2022 commented on #706
**Bug was found:**
Positions are not displayed with the following coordinate input format: "<COORDINATE.>" and "<COORDINATE.>"

**Steps to reproduce:**
1. Go to NGB
2. Go to DATASETS panel
3. Select **SV_Sample2** dataset
4. Go to BROWSER panel
5. Select **4** chromosome in dropdown menu
6. Set following coordinates in the field: **25665006 25665003**
7. Click **Enter** button on keyboard

**Expec

[2021-12-16 12:55] rodichenko commented on #706
@Tatyana2022 should be fixed with 6f8ce02081ee06bca9db103fc36748a6b69ca6a0

[2021-12-17 13:43] mzueva opened #714 "Lineage tree nodes shall support dataset references"
**Background**
At the moment Lineage tree supports links to reference genomes. For some cases it would be helpful to support links to a dataset as well.

**Approach**
- [Server] Add `projectId` to lineage nodes and support it in text file format
- [Server] Support reference & dataset names as well as numeric ids in node file format
- [UI] GUI shall support navigation to a dataset for lineage nodes

[2021-12-17 13:46] mzueva commented on #682
@rodichenko could you please replace the text for lineage nodes from "Sequenced" to "Preserved on"
***Verified***

[2021-12-20 09:52] rodichenko commented on #707
@NShaforostov @sidoruka @mzueva #712 implements **JS API** methods and **url parameters** for hiding panels controls.

## URL parameters
`embedded` and `controls` options were added to the url:
- `embedded`: string (values: `on`/`off`) - turns *on* or *off* the "embedded" mode (if set to `on`, all controls will be hidden; **close** button for the single non-reference track will be hidden)
- `contr

[2021-12-20 17:04] pabarcgar opened #717 "Log4j 2.16.0 is still not secure"
**Background**
Log4j 2.16.0 had some bug and now 2.17.0 is the recommended version on log4j security page.

**Approach**
Update log4j dependency from 2.16.0 to 2.17.0 in the build files

[2021-12-21 10:45] mzueva commented on #717
Thank you for your issue! We've updated log4j to 2.17.0 version for `develop` and `release/2.6.1` versions. Latest release is available at [s3 bucket](https://ngb-oss-builds.s3.amazonaws.com/web/index.html?prefix=public/builds/release/2.6.1/2.6.1.3236).

[2021-12-21 12:15] mzueva commented on #714
Node file format updated:
[code]

[code]

[2021-12-22 09:41] Tatyana2022 commented on #682
**Bug was found:**
The selection is not cleared when opening a session

**To reproduce:**
1. Go to NGB
2. Go to LINEAGE panel
3. Select any tree in **Source** field (e.g. Empty)
4. Click on any node (e.g. Strain-01)
5. Click on **Location** icon
6. Save session (e.g. Lineage1)
7. Open **Sessions** panel
8. Find and select saved session (e.g. Lineage1)
9. Look at LINEAGE panel

**Expected result:**

[2021-12-22 12:27] Tatyana2022 commented on #682
***Bug was found:***
The tree scale is reset to default after switching to another panel

**To reproduce:**
1. Go to NGB
2. Go to LINEAGE panel
3. Select any tree in **Source** field (e.g. Empty)
4. Zoom in/out the tree
5. Remember scale of the tree
6. Go to any another panel (e.g. DATASETS)
7. Go back to LINEAGE panel

**Actual result:**
Zoom of the tree should be the same as it was remembered in

[2021-12-24 07:37] Tatyana2022 commented on #686
After conversation with @mzueva  and @rodichenko , it was decided to hide the **Merge samples** button in the **Expanded** view to avoid misunderstanding
![image](https://user-images.githubusercontent.com/83421565/147330253-7166b393-b628-40ba-8fa3-f0afb36a66a1.png)

[2021-12-24 13:25] #714 closed, assigned to rodichenko, okolesn

[2021-12-28 07:29] Tatyana2022 commented on #686
**Bug was found:**
The **Samples** column is empty and has the wrong name

**To reproduce:**
1. Go to NGB
2. Go to DATASETS
3. Select **multisample** dataset
4. Go to VARIANTS panel
5. Click on **Download** button in the header of panel
6. Open downloaded file
7. Look at **sampleNames** column

**Expected result:**
1) The name of the column should be the same as on UI - **Samples**
2) This column

[2021-12-28 07:49] Tatyana2022 commented on #686
**Bug was found:**
The values in the filter do not match the data in the **Samples** column

**To reproduce:**
1. Go to NGB
2. Go to DATASETS
3. Select **SV_Sample2** dataset
4. Go to VARIANTS panel
5. Select **Show filters** button in the hamburger menu
6. Place the mouse on the **Samples** column filter

**Expected result:**
A drop-down list should be empty in **Samples** column of the current d

[2021-12-29 09:44] NShaforostov commented on #706
Docs were added via #724 and located [here](https://github.com/epam/NGB/blob/develop/docs/md/user-guide/tracks.md#split-view).

[2021-12-29 09:47] NShaforostov commented on #707
Docs were added via #720 and located [here](https://github.com/epam/NGB/blob/develop/docs/md/user-guide/embedding-url.md#embedding-ngb-via-iframe-controlled-with-url) and [here](https://github.com/epam/NGB/blob/develop/docs/md/user-guide/embedding-js.md#setembedded).

[2021-12-29 09:50] NShaforostov commented on #686
Doc was added via #723 and located [here](https://github.com/epam/NGB/blob/develop/docs/md/user-guide/tracks-vcf.md#multi-strains-vcf).

[2021-12-29 09:52] NShaforostov commented on #682
Doc was added via #703 and located [here](https://github.com/epam/NGB/blob/develop/docs/md/user-guide/strain-lineage.md#strain-lineage).

[2021-12-29 11:12] Tatyana2022 commented on #686
**Bug was found:**
Some variations move into position with delay on the track in Collapsed view

**To reproduce:**
1. Go to NGB
2. Go to DATASETS panel
3. Select **fly.vcf** file
4. Go to VARIANTS panel
5. Select any variation
6. Go to the VCF track in BROWSER panel
7. Select **Collapsed** view
8. Go back to VARIANTS panel
9. Find variation on position **12589548** and select it
10. Find variation

[2022-01-07 17:08] pabarcgar opened #726 "Finding out the commit used in each release"
Hi

We are trying to find out which exact commit are we using in our NGB release, to patch log4j, because the latest develop jar files are not working for us. I saw in the gradle scripts that the number in each jar file is the build number, but I think is not related with the exact commit that was build. I guess that the build number comes from your Jenkins (or whatever CI server you are using).

[2022-01-10 12:13] Tatyana2022 commented on #686
**Bug was found:**
Incorrect expanded display details of variations instead of bubbles

**To reproduce:**
1. Go to NGB
2. Go to DATASETS panel
3. Select **fly.vcf** file in **Fruitfly** dataset
4. Go to **VARIANTS** panel
5. Go to BROWSER panel
6. Set coorditates: CHR: X 12590708 - 12590858
7. Go to the VCF track
8. Set checkbox for following view: Collapsed, Merge Samples
9. Maximize scale
10. Lo

[2022-01-10 12:29] Tatyana2022 commented on #686
**Bug was found:**
Bubbles are not displayed at large scale with Merge Samples view

**To reproduce:**
1. Go to NGB
2. Go to DATASETS panel
3. Select **fly.vcf** file in **Fruitfly** dataset
4. Go to **VARIANTS** panel
5. Go to BROWSER panel
6. Set coorditates: CHR: X 12590766 - 12590815
7. Go to the VCF track
8. Set checkbox for following view: Collapsed, Merge Samples
9. Look at track

**Expecte

[2022-01-10 17:34] mzueva commented on #726
@pabarcgar  At the moment it is not straightforward to link commit to the build number. Build number (e.g. 3027, 3236) is generated by [Appveyor CI](https://ci.appveyor.com/project/epam/ngb/history), but it has limited search capabilities and usually requires listing over build history and manual search. We’ll add commit id to the build number in the nearest future to make tracking of changes easi

[2022-01-11 14:31] mzueva opened #727 "Support sample aliases for VCF files"
### Background
At the moment sample names are read from VCF file during registration and displayed on the GUI as-is. For some cases it would be useful to allow user to set some "user-friendly" aliases for sample names.

### Approach
- provide an API method to set sample alias for VCF file
- VCF file API methods returning sample names, shall return aliases map as well
- add the ability to set sampl

[2022-01-12 09:30] Tatyana2022 commented on #526
**Bug was found:**
Errors appear in the console when switching from one chromome to another in the panel details

**Prerequisites:**
Open console (Ctrl+F12)

**To reproduce:**
1. Go to NGB
2. Go to DATASETS panel
3. Select **sample1** dataset
4. Go to BROWSER
5. Select any chromosome
6. Go to REFERENCE track
7. Select **Motifs search** in **General** dropdown menu
8. Enter **CACTGAAACAAAGGGACTGCAG

[2022-01-12 10:47] pabarcgar commented on #726
Thank you very much @mzueva ! That was exactly the info I needed.

Are you aware that you are using log4j 2.17.0 in the NGB CLI but still using log4j 1.2.17 on the server? (because of the slf4j-log4j12 binding).

[2022-01-14 10:21] mzueva opened #730 "Allow to configure colouring schema for lineage nodes"
**Background**
For some cases it would helpful to colour lineage nodes using some schema, e.g. based on node generation (number of mutations from wild type) or type of modificatiom.

**Approach**
This feature shall be implemented using approach similar to #391. A new section `lineage_profiles` shall be added to track settings endpoint with the same format which is user for variation highlight prof

[2022-01-14 10:21] mzueva opened #731 "Metabolic pathways visualisation"
## Background

Metabolic pathways are series of chemical reactions that start with a substrate and finish with an end product.
These pathways are being displayed as certain kind of infographics, often called "maps".
Maps can be as public ones received from different sources like [BioCyc](https://biocyc.org/) database and as well as internal, produced by pathway modelling software.
NGB shall suppor

[2022-01-14 12:33] Tatyana2022 commented on #682
**Bug was found:**
Modified edges do not return to their original state after clicking on **Reset Default view** button

**To reproduce:**
1. Go to NGB
2. Go to DATASETS panel
3. Select **test** file
4. Go to LINEAGE panel
5. Select **nodes** source
6. Zoom in the tree
7. Select any edge
8. Right click on selected edge
9. Click **Add bend point**
10. Stretch the edge
11. Click **Reset default view

[2022-01-14 13:24] Tatyana2022 commented on #682
**Bug was found:**
**Source** field is empty by default in the **LINEAGE** panel

**Prerequisites:**
Close LINEAGE panel if opened

**To reproduce:**
1. Go to NGB
2. Go to DATASETS
3. Select **test** file
4. Open LINEAGE panel
5. Look at **Source** field

**Expected result:**
**nodes** lineage should be displayed in the **Source** field by default

**Actual result:**
**Source** field is empty by d

[2022-01-14 22:02] Tatyana2022 commented on #526
**Bug was found:**
Long search motif name is not fully displayed in the details panel

**Prerequisites:**
Sequence = CTTGATCTTCCCTGTGATGTCATCTGGAGCCCTGCTGCTTGCGGTGGCCTATAAAGCCTCCTAGTCTGGCTCCAAGGCCTGGCAGAGTCTTTCCCAGGGAAAGCTACAAGCAGCAAACAGT

**To reproduce:**
1. Go to NGB
2. Go to DATASETS panel
3. Select **sample1** dataset
4. Go to BROWSER
5. Select CHR: 1
6. Go to REFERENCE track
7. Select **Moti

[2022-01-18 17:06] maryvictol commented on #526
**Bug was found:**
Attempt to interrupt search gives empty rows in the Search Results table and error message.

**To reproduce:**
1. Go to NGB
2. Go to DATASETS panel and select `sample1` dataset
3. Go to BROWSER
4. Select any chromosome
5. Go to REFERENCE track
6. Select **Motifs search** in ***General*** dropdown menu
7. Enter `CACTGAAACAAAGGGACTGCAGATG` sequence in *PATTERN* field
8. Enter any

[2022-01-18 17:50] kay73 opened #737 "Deleting datasets fails due to SQL syntax issue for PostgreSQL"
**Describe the bug**
Deleting datasets fails due to SQL syntax issue for PostgreSQL.

**Prerequisite**
- Dataset/project exists.
- Valid JWT token is used.
- ngb-cli has valid ngb server endpoint configuration and works otherwise.

**To Reproduce**

1. Try deleting a dataset, e. g.:
[code]
Fails reproducibly regardless if numeric ids or symbolic names are used. Tested for datasets that exist and a

[2022-01-20 14:02] maryvictol commented on #526
@mzueva
**Bug was found:**
Only 1st page of results (100 records) is shown when motifs search details is opened from search results table.

**To reproduce:**
1. Go to NGB
2. Go to DATASETS panel and select `sample1` dataset
3. Go to BROWSER
4. Select any chromosome
5. Go to REFERENCE track and select **Motifs search** in ***General*** dropdown menu
6. Enter `AACWWRY` sequence in *Pattern* field
7.

[2022-01-21 13:40] mzueva commented on #737
@kay73 Thank you for the issue! It shall be resolved via 7f564bb04b370aa8af71ed90e4441806ee56a253. Please find the development build with fix [3277](https://ngb-oss-builds.s3.amazonaws.com/web/index.html?prefix=public/builds/develop/2.6.1.3277/).

[2022-01-21 13:57] mzueva commented on #726
Hi Pablo @pabarcgar,
We added commit SHA hash to the NGB GUI, so you can always check which exact commit is deployed in your environment. For example for the latest `release/2.6.1` build [3265](https://ngb-oss-builds.s3.amazonaws.com/web/index.html?prefix=public/builds/release/2.6.1/2.6.1.3265/) which enables this feature via commit e46c697ed4494b38264fc4090b3df9826d9087e7:
![image](https://user-i

[2022-01-21 14:43] maryvictol commented on #526
@rodichenko
**Bug was found:**
Positive and negative tracks aren't shown after search in the **Browser** panel if  return from the previous search results to the Search Tasks table using the **<** button.

**To reproduce:**
1. Go to NGB
2. Go to DATASETS panel and select `sample1` dataset
3. Go to BROWSER
4. Select **CHR:1** chromosome
5. Go to **REFERENCE** track and select **Motifs search** in *

[2022-01-24 09:59] Tatyana2022 commented on #730
**Bug was found:**
A profile set to "is_default: true" is not displayed in the **Select a profile field** field by default

**Prerequisites:**
1. Go to **Settings**->**LINEAGE**
2. Unset checkbox in 'Enabled' field (if set)
3. Click **Save** button

- **lineage_profiles.json**

[code]

**To reproduce:**
1. Go to NGB
2. Go to **Settings**
3. Go to **LINEAGE** tab
4. Set checkbox in 'Enabled' field

[2022-01-24 11:15] Tatyana2022 commented on #730
**Bug was found:**
Nodes are not highlighted if not the first attribute is specified in the condition

**Prerequisites:**
**lineage_profiles.json**
[code]
**To reproduce:**
1. Go to NGB
2. Go to **Settings**
3. Go to **Lineage** panel
4. Set checkbox in 'Enabled' field (if not set)
4. Select **Test** profile in **Select the profile** field
5. Click **Save** button
6. Go to **LINEAGE** panel
7. Sel

[2022-01-25 13:10] Tatyana2022 commented on #526
**Bug was found:**
Sequence color remains blue despite changing it in color configuration for positive and negative tracks

**To reproduce:**
1. Go to NGB
2. Go to DATASETS panel and select `sample1` dataset
3. Go to BROWSER
4. Select **CHR:1** chromosome
5. Go to **REFERENCE** track and select **Motifs search** in ***General*** dropdown menu
6. Enter `TGCCTAGAGTGGGATGGGCCATTGTTCATCTTCTGG` sequenc

[2022-01-26 11:00] Tatyana2022 commented on #526
**Bug was found:**
No positive and negative tracks in BROWSER panel and MOTIFS panel doesn't reopen after first closing

**To reproduce:**
1. Go to NGB
2. Go to DATASETS and select `sample1` dataset
3. Go to BROWSER
4. Select **CHR:1** chromosome
5. Go to **REFERENCE** track and select **Motifs search** in ***General** dropdown menu
6. Enter `TGCCTAGAGTGGGATGGGCCATTGTTCATCTTCTGG` sequence in *Patt

[2022-01-26 13:00] Tatyana2022 opened #744 "BUG: Styles are broken in Homologene details window and GENES panel"
**BUG**
Table formatting is broken in Homologene details window

**To Reproduce**
1. Go to NGB
2. Go to VIEWS menu
3. Select GENES panel
4. Find **kras** gene
5. Right click on gene
6. Click **Show similar genes** button
7. Click on any search result in HOMOLOGENE tab (e.g. Gene conserved in Bilateria)
8. Look at the table

**Expected result:**
The table format is not broken

**Actual result:**
Ta

[2022-01-26 13:40] kay73 opened #745 "Visual glitch: Filesizes of megabyte magnitude are displayed as "bytes""
**Describe the bug**
The files in the screenshot are actually Megabytes rather than bytes.

**Screenshots**
<img width="999" alt="Bildschirmfoto 2022-01-26 um 14 36 08" src="https://user-images.githubusercontent.com/10027056/151172870-b06d73a4-b8f1-4656-89e7-49172fda42d8.png">

**Environment:**
 - Catgenome Version commit: e10d008aec5b7889f01d4d62e0aaa1b50c1c7a97

[2022-01-27 13:32] Tatyana2022 commented on #526
**Improvements:**
After conversation with @mzueva it was decided  to increase the height of the **Color Configuraton** window  so that scrolling is not displayed and the palette is not displayed under the **Reset to defaults** button
<img src="https://user-images.githubusercontent.com/83421565/151366204-92a9ba1d-d925-4e39-b927-ffbda82f4bda.png" width="200" />
 @rodichenko @AlfiyaRF
***Verified***

[2022-01-27 14:20] Tatyana2022 commented on #526
@AlfiyaRF @mzueva
Bug reproduces again for another sequence: `gggttcatgaggaagggcaggaggagggtgtgggatggtg`
<img src="https://user-images.githubusercontent.com/83421565/151376770-37a6b5af-f485-4814-987a-c9a7e56da2cf.png" width="200" />

***Verified***

[2022-01-28 09:04] Tatyana2022 commented on #526
**Bug was found:**
Positive or negative track is not reopened if a record with the corresponding strand is selected in the table

**To reproduce:**
1. Go to NGB
2. Go to DATASETS panel  and select `sample1` dataset
3. Go to BROWSER panel
4. Set **CHR: 1**
5. Go to REFERENCE track
6. Select **Motifs** search in **General** dropdown menu
7. Set `TATA` sequence in **PATTERN** field
8. Click **Search*

[2022-01-28 15:22] Tatyana2022 commented on #526
**Bug was found:**
No more than one pair of Motif's tracks with duplicate titles is displayed in the BROWSER panel

**To reproduce:**
1. Go to NGB
2. Go to DATASETS panel  and select `sample1` dataset
3. Go to BROWSER panel
4. Set **CHR: 1**
5. Go to REFERENCE track
6. Select **Motifs** search in **General** dropdown menu
7. Set `CAA`  sequence in **PATTERN** field
8. Click **Search** button
9. Re

[2022-02-01 13:04] mzueva opened #752 "Browse BAM coverage intervals"
### Background

Currently, users can view the coverage in any position of the BAM track - when hovering the _Coverage_ graph - the coverage info is shown in the tooltip.
But in certain cases, it could be useful to view some statistics of the coverage over the whole chromosome or reference.
We should implement such ability in NGB and allow to view BAM coverage statistics for different bp intervals

[2022-02-02 16:05] mzueva commented on #745
@kay73 Thank you for the issue, it shall be fixed in the latest `develop` build via 62ae424f4327d2c706d3fafb55ff35a0fe8a3f4f

[2022-02-03 15:32] mzueva opened #755 "New command line interface for NGB"
**Background**
A clear and concise description of what the problem is. Ex. At the moment, NGB does not allow [...] and it would be nice to [...] because [...]

**Approach**
A clear and concise description of what you want to happen.

**Other options**
A clear and concise description of any alternative solutions or features you've considered.

[2022-02-07 21:32] Tatyana2022 opened #757 "BUG: Incorrect display style of the old file name after applying the search in the DATASETS"
**BUG**
Incorrect display style of the old file name after applying the search in the DATASETS

**To Reproduce**
1. Go to NGB
2. Go to DATASETS panel
3. Select any dataset (e.g. **SV_Sample1**)
4. Select any file (e.g. **Testing1**) and remember the name
5. Go to selected track in BROWSER panel
6. Rename the track (e.g. **Highlight**)
7. Go back to DATASETS panel
8. Enter the old track name in the

[2022-02-08 10:14] Tatyana2022 opened #758 "BUG: Lineage tree visualization not showing in LINEAGE panel"
**BUG**
Lineage tree visualization not showing in LINEAGE panel

**Prerequisites:**
Open Console (F12)

**To Reproduce**
1. Go to NGB
2. Go to DATASETS panel
3. Select any dataset (e.g. **SV_Sample1**)
4. Go to VIEWS ->LINEAGE panel
5. Look at LINEAGE panel

**Expected result:**
1. The first one in the list related to the current dataset is displayed by default (e.g. Delete-test). Tree visualizati

[2022-02-08 15:54] Tatyana2022 commented on #758
Fixed and checked

[2022-02-08 15:54] #758 closed, assigned to rodichenko, mzueva

[2022-02-09 11:36] Tatyana2022 commented on #731
**Bug was found:**
Missing  pathway map for 'Glycolysis 2'

**To reproduce:**
1. Go to NGB
2. Open VIEWS->PATHWAYS
3. Go to PATHWAYS panel
4. Enter **1** value in **Search keyword** field
5. Click on **Glycolysis2** hyperlink in 'Name' column
6. Look at PATHWAYS sub-tab

**Expected result:**
Specific pathways map should be displayed in the PATHWAYS sub-tab

**Actual result:**
```Text data outside

[2022-02-09 12:10] Tatyana2022 commented on #731
**Bug was found:**
400 error appears after applying sorting in the PATHWAYS search result table

**Prerequisites:**
Open console (F12)

**To reproduce:**
1. Go to NGB
2. Open VIEWS->PATHWAYS
3. Go to PATHWAYS panel
4. Enter **1** value in **Search keyword** field
5. Sort by 'Map' column
6. Look at PATHWAYS sub-tab

**Expected result:**
The results in the table are displayed according to the applie

[2022-02-10 11:29] Tatyana2022 commented on #731
***Bug was found:***
The map scale is reset to default after switching to another panel

**To reproduce:**
1. Go to NGB
2. Go to PATHWAYS panel
3. Search by any pathway in **Search keyword** field (e.g. Repressilator)
4. Click on result in the **Map** column (e.g. Repressilator)
5. Zoom in/out the map
6. Remember scale of the map
7. Go to any another panel (e.g. DATASETS)
8. Go back to PATHWAYS pa

[2022-02-10 11:54] Tatyana2022 commented on #731
**Bug was found:**
Node highlighting disappears after applying the 'Reset to default' button

**To reproduce:**
1. Go to NGB
2. Go to PATHWAYS panel
3. Search by any pathway in **Search keyword** field (e.g. Repressilator)
4. Click on search result in the **Map** column (e.g. Repressilator)
5. Add annotation (e.g. Laclp	LimeGreen,#45abff) and click **Apply** button
6. Click **Reset Default view**

[2022-02-10 12:15] Tatyana2022 commented on #731
**Bug was found:**
**Apply** button is active in annotations if ```<Enter>``` set between conditions

**To reproduce:**
1. Go to NGB
2. Go to PATHWAYS panel
3. Search by any pathway in **Search keyword** field (e.g. Repressilator)
4. Click on search result in the **Map** column (e.g. Repressilator)
5. Click **+** button in the Annotation window
6. Mark **Manual colors config** checkbox
7. Enter th

[2022-02-10 17:23] Tatyana2022 commented on #731
**Bug was found:**
Server error is displayed when searching for some keywords

**To reproduce:**
1. Go to NGB
2. Go to PATHWAYS panel
3. Enter '**and**'  keword in **Search keyword** field
4. Click **Search** button
5. Look at results below search field

**Expected result:**
1) Matched search result should be displayed in the table
2) ```Nothing found. Try to search another gene.``` phrase should

[2022-02-11 07:28] Tatyana2022 opened #762 "BUG: It is not possible to zoom in/out of the panel if the "Restore Default View" button is pressed after the maximum zoom in/out."
**BUG**
It is not possible to zoom in/zoom out of the panel if the "Restore Default View" button is pressed after the maximum zoom in/zoom out

**To Reproduce**
1. Go to NGB
2. Go to LINEAGE panel
3. Select any tree in **Source** field (e.g. **Empty**)
4. Zoom tree to max (click **+** button)
5. Click **Restore default view** button
6.Look at **+** button

**Expected result:**
The tree returned to

[2022-02-11 09:04] Tatyana2022 commented on #731
**Bug was found:**
Server errors are displayed when searching for some special characters

**To reproduce:**
1. Go to NGB
2. Go to PATHWAYS panel
3. Enter '**^*'  value in **Search keyword** field
4. Click **Search** button
5. Look at results below search field

**Expected result:**
```Nothing found. Try to search another gene.``` phrase should be displayed if there are no matches in the search re

[2022-02-11 09:38] Tatyana2022 commented on #731
Some notes after conversation with @DmitriiKrasnov
1. Each map should have its own annotations. Verified
2. Heatmaps and manual annotations should be saved, CSV files - not.

[2022-02-11 12:11] Tatyana2022 commented on #731
**Bug was found:**
Map scale remains the same after applying the **Restore default view** button

**To reproduce:**
1. Go to NGB
2. Open PATHWAYS panel
3. Apply search by any pathway (e.g. Repressilator)
4. Open search result (e.g. Repressilator)
5. Zoom in (or zoom out) the map
6. Click **Restore default view** button
7. Look at the map

**Expected result:**
The map should be autoscaled - fitted

[2022-02-15 08:45] Tatyana2022 commented on #731
**Bug was found:**
Previously selected node remains selected when revisiting the map page

**To reproduce:**
1. Go to NGB
2. Open PATHWAYS panel
3. Apply search by value **Glycolysis1**
4. Open search result **Glycolysis1**
5. Look at **D-Glyceraldehyde 3-phosphate** node in the map

**Expected result:**
The whole map should be without highlights

**Actual result:**
**D-Glyceraldehyde 3-phosphate*

[2022-02-15 08:55] Tatyana2022 commented on #653
Fixed and verified

[2022-02-15 08:55] #653 closed, assigned to DmitriiKrasnov

[2022-02-17 12:31] mzueva opened #766 "BioPAX format support"
**Background**
- Add `databaseSource` to Pathway object - `CUSTOM`, `BIOCYC`
- Add `species` to Pathway object - `Species` object
- Add these two field to search methods
- Add API method to register bioPAX owl file as set of Pathways: read owl and create a new SBGN file and Pathway object for each pathway present in the file.

[2022-02-25 09:15] rodichenko commented on #439
@mzueva @NShaforostov ee4c3ad9d0f6ead61217824e962869e8099f8a26 implements logic for enabling/disabling an ability for download files:
if `ui_settings.download_resource` setting is set to `false`, **Download File** menu options (both for track menu and for dataset context menu) won't be displayed.

By default (if this setting is missing) *download file* action is available.

____
`GET` `defaultTrac

[2022-02-28 06:16] mzueva opened #774 "Support cytoscape graph json as a pathway"
**Background**
Some applications, e.g. [BioCyc Pathway Collage](https://biocyc.org/pathway-collage-info) support exporting pathway data as cytoscape graphs in json format. NGB shall support registration of such json files as Pathways.

**Server**
- NGB shall support registration of json files as Pathway objects
- Let's use  field `PathwayDatabaseSource` added in #769 to check file format (SBGN/Jso

[2022-03-03 12:01] kay73 opened #778 "Broken permission model / JWT groups claim not evaluated"
We could not achieve mutual access exclusion for resources based on group assignments because groups appear to be effectively ignored. I suspect  a cause for the issue might be:

We found that when accessing resources with a JWT, the groups part is never initialized because the token's groups claim is not propagated into the UserContext object.  The constructor of  `com.epam.catgenome.security.Use

[2022-03-05 09:17] Tatyana2022 commented on #640
Verified

[2022-03-05 09:17] #640 closed, assigned to mzueva

[2022-03-09 08:16] Tatyana2022 opened #779 "BUG: Buttons from the right menu of BROWSER panel overlap fields from the left menu on a small scale"
**BUG**
Buttons from the right menu of BROWSER panel overlap fields from the left menu on a small scale

**To Reproduce:**
1. Go to NGB
2. Open **Browser** and **Datasets** panels in **Views** menu
3. Go to **Datasets** panel
4. Select any dataset (e.g. SV_Sample1)
5. Go to **Browser** panel
6. Reduce the size of the **Browser** window until the menu in the upper right corner of the browser overla

[2022-03-09 08:53] Tatyana2022 opened #780 "BUG: An error displays in the console after opening NGB"
**BUG**
An error displays in the console after opening NGB

**Prerequisites:**
Open console (F12)

**To Reproduce**
1. Go to NGB
2. Look at console

**Expected result:**
No errors in the console

**Actual result:**
An error displays in the console
![image](https://user-images.githubusercontent.com/83421565/157407980-781de985-b35d-4324-8a50-19c441a0b124.png)

**Environment:**
NGB version: 2.7.0.337

[2022-03-09 17:27] NShaforostov opened #781 "Update of the registered files links"
**Background**

The following case may occur:
1. Some supported file was registered in NGB
2. This file was added to some dataset
3. User works without problem with this file via GUI
4. Some time later, original file was relocated to differ location (e.g. from server path to cloud storage)
5. User tries to download original file from the NGB GUI but file is not unavailable
![image](https://user-im

[2022-03-09 17:59] NShaforostov opened #782 "[BLAST Search] Change databases dropdown view"
**Background**

Currently, when user setups BLAST search via the corresponding panel and clicks the "Database" field - nothing appears automatically, user needs to specify supposed database name and wait for the search results.
This may confuse. It would be more convenient and understandable, if by click this field a dropdown appears with list of available databases.

**Approach**

Add the followi

[2022-03-10 08:56] Tatyana2022 opened #784 "BUG: An error displays in the console and the variation disappears from the track after switching the view"
**BUG**
An error displays in the console and the variation disappears from the track after switching the view

**Prerequisites:**
Open console (F12)

**To Reproduce**
1. Go to NGB
2. Go to DATASETS panel
3. Go to **SV_Sample2** dataset
4. Select **sample_2-lumpy.vcf** file
5. Set **CHR 2: 29223837 - 29223882** in BROWSER panel
6. Change Variants view (e.g. Expanded if not set) on the VCF track
7.

[2022-03-10 12:29] Tatyana2022 commented on #784
Fixed and verified

[2022-03-10 12:29] #784 closed, assigned to rodichenko, mzueva

[2022-03-10 12:30] Tatyana2022 commented on #780
Fixed and verified

[2022-03-10 12:30] #780 closed, assigned to rodichenko, mzueva, DmitriiKrasnov

[2022-03-10 15:03] NShaforostov commented on #752
Docs were added via #776 and located [here](https://github.com/epam/NGB/blob/develop/docs/md/user-guide/tracks-bam.md#coverage-statistics).

[2022-03-10 15:05] NShaforostov commented on #727
Docs were added via #776 and located [here](https://github.com/epam/NGB/blob/develop/docs/md/user-guide/tracks-vcf.md#sample-aliases).

[2022-03-11 06:51] Tatyana2022 commented on #511
Fixed and verified

[2022-03-11 06:51] #511 closed, assigned to rodichenko, mzueva

[2022-03-11 11:46] Tatyana2022 commented on #731
**Bug was found:**
The **Apply** button is enabled if no heatmaps are selected or added to annotations.

**Prerequisites:**
Open Console (F12)

**To reproduce:**
1. Go to NGB
2. Go to Pathways
3. Select **BRCA1** pathway in the **Search keyword** field and apply Search
4. Click **BRCA1** pathway
5. Click **A** button (annotations)
6. Set checkbox in **Select heatmap file** field
7. Click **Apply**

[2022-03-11 14:22] mzueva commented on #778
@kay73 Thank you for reporting this issue. We fixed it and now JWT group claims are considered during permissions check. This fix is avalilable in the latest release build [3383](https://ngb-oss-builds.s3.amazonaws.com/web/index.html?prefix=public/builds/release/2.7.1/2.7.1.3383/).

[2022-03-11 14:31] Tatyana2022 commented on #731
**Bug was found:**
The values specified in the heatmap and displayed in the annotations are different

**Prerequisites:**
Open Console (F12)

**To reproduce:**
1. Go to NGB
2. Go to Pathways
3. Select **BRCA1** pathway in the **Search keyword** field and apply Search
4. Click **BRCA1** pathway
5. Click **A** button (annotations)
6. Set checkbox in **Select heatmap file** field
7. Select **BRCA1-an

[2022-03-14 07:54] Tatyana2022 commented on #731
**Bug was found:**
The second search is performed not for the entire phrase

**To reproduce:**
1. Go to NGB
2. Open PATHWAYS
3. Find and open **pwycollage.graph**
4. Apply search with following values: **bisphosphatase: ybhA**
5. Look at pathway

**Expected result:**
Only one node should be highlighted: **fructose 1,6-bisphosphatase: ybhA**

**Actual result:**
Almost all nodes are highlighted
<img

[2022-03-14 08:04] Tatyana2022 commented on #731
**Bug was found:**
Nodes remain highlighted after applying search with an empty field

**To reproduce:**
1. Go to NGB
2. Open PATHWAYS
3. Find and open **pwycollage.graph**
4. Apply search with following values: **bisphosphatase: ybhA**
5. Сlear the **Search** field
6. Apply search with empty **Search** field
7. Look at pathway

**Expected result:**
Nodes are not highlighted

**Actual result:**
Pr

[2022-03-14 13:09] Tatyana2022 commented on #731
**Bug was found:**
Pathway display does not change to default after clicking **Restore default view** button (for collages only)

**To reproduce:**
1. Go to NGB
2. Open PATHWAYS panel
3. Find and open **pwycollage.graph**
4. Go to pathway
5. Remember the location of nodes and edges
6. Change location of any node or edge
7. Click **Reset to default view** button
8. Look at Pathway

**Expected resul

[2022-03-15 11:01] Tatyana2022 commented on #731
**Bug was found:**
Values are not pulled from the added heatmap file in discrete view in annotations

**Prerequisites:**
Create heatmap file: e.g. **Pathway-ann.csv**
with following values:
[code]

**To reproduce:**
1. Go to NGB
2. Open PATHWAYS panel
3. Find and open **Repressilator_PD**
4. Click **A** (annotations) button
5. Click **+** (add annotation) button
6. Set checkbox in **Upload CSV/TSV

[2022-03-15 11:58] Tatyana2022 commented on #731
**Bug was found:**
**Discrete** view is displayed by default in annotations when adding a heatmap

**Prerequisites:**
Select **CSVTest** dataset in DATASETS panel

**To reproduce:**
1. Go to NGB
2. Open PATHWAYS panel
3. Find and open **Repressilator_PD**
4. Click **A** (annotations) button
5. Click **+** (add annotation) button
6. Set checkbox in **Select heatmap file** field
7. Select **BRCA1-an

[2022-03-15 14:24] Tatyana2022 commented on #731
**Bug was found:**
Canceled changes are applied to the color scheme

**To reproduce:**
1. Go to NGB
2. Open PATHWAYS panel
3. Find and open **Repressilator_PD**
4. Click **A** (annotations) button
5. Click **+** (add annotation) button
6. Set checkbox in **Select heatmap file** field
7. Select **BRCA1-annotation** heatmap in dropdown menu
8. Set **Continuous** type (if not set)
9. Change any color

[2022-03-15 14:47] Tatyana2022 commented on #731
Need to improve:
1. Nice to have any validation message for heatmap files with empty or wrong data in annotations: E.g. "Wrong file format"
2. It would be great to have highlighting nodes and edges in light gray for collages, like in an external application
3. It would be great to automatically substitute annotation names every time depending on the selected checkbox - **Verified**

@DmitriiKrasno

[2022-03-18 08:52] #745 closed, assigned to rodichenko

[2022-03-18 08:52] #727 closed, assigned to okolesn

[2022-03-18 08:53] #707 closed, assigned to rodichenko

[2022-03-18 08:53] #706 closed, assigned to rodichenko

[2022-03-18 08:58] #572 closed, assigned to ekazachkova

[2022-03-18 11:17] Tatyana2022 opened #789 "BUG: Unable to download data from GENES panel"
**BUG**
Unable to download data from GENES panel

**To Reproduce:**
1. Go to NGB
2. Go to DATASETS panel
3. Select **NC_003071-features.gbk** gene file from **NC_003071** dataset
4. Go to **GENES** panel
5. Click **Download** button

**Expected result:**
**Download table data** pop-up should be appeared.
**CSV** value should be set in the **Format** field
All buttons are active

**Actual result:**

[2022-03-21 12:48] Tatyana2022 opened #792 "BUG: Variation diagrams are not displayed into the BROWSER panel"
**BUG**
Variation diagrams are not displayed into the BROWSER panel

**To Reproduce:**
1. Go to NGB
2. Go to DATASETS panel
3. Select any vcf file in any dataset
4. Look at BROWSER panel

**Expected result:**
Variation diagrams should be displayed into the BROWSER panel

**Actual result:**
**No data available** displays in all variation visual blocks: Variants in chromosome, Variants types, Varian

[2022-03-22 12:09] Tatyana2022 commented on #731
**Bug was found:**
**Apply** button is disabled after uploading CSV/TSV filed in annotations

**To reproduce:**
1. Go to NGB
2. Open PATHWAYS panel
3. Find and open **BRCA1**
4. Click **A** (annotations) button
5. Click **+** (add annotation) button
6. Set checkbox in **Upload CSV/TSV** field
7. Click **Choose CSV/TSV file** button
8. Add any CSV/TSV file
9. Set checkbox in **Manual colors config*

[2022-03-22 12:22] Tatyana2022 commented on #731
**Bug was found:**
Manual annotations and with heatmap files are not saved in the annotation pop-up

**To reproduce:**
1. Go to NGB
2. Open PATHWAYS panel
3. Find and open **BRCA1**
4. Add any manual annotation
5. Add any annotation with heatmap file
6. Remember names of created annotations
7. Wait some hours (e.g. due to next day)
8. Repeat 1-3 steps
9. Open annotations window

**Expected result:

[2022-03-22 12:31] mzueva opened #793 "Allow to rename files, references and datasets"
**Background**
For some cases it would be helpful to allow user to rename NGB objects, particularly references, datasets and files. Let's add the following commands to NGB cli:
- `rename_ref`
- `rename_file`
- `rename_dataset`

Example:
[code]

[2022-03-22 12:31] Tatyana2022 commented on #731
**Bug was found:**
Nodes remain highlighted after applying search to collage pathway

**To reproduce:**
1. Go to NGB
2. Open PATHWAYS panel
3. Find and open **pwycollage.graph**
4. Enter **bisphosphatase** in the **Search** field
5. Apply search
6. Look at earlier highlighted nodes

**Expected result:**
All matched nodes should have green text without gray highlight

**Actual result:**
All matched

[2022-03-23 08:20] Tatyana2022 commented on #731
**Bug was found:**
Edges move a little after clicking **Restore default view**  button

**To reproduce:**
1. Go to NGB
2. Open PATHWAYS panel
3. Find and open **BRCA1** pathway
4. Click **Restore default view** button
5. Look at edges on the map

**Expected result:**
The map should be unchanged if no changes have been made before.

**Actual result:**
Edges move a little

https://user-images.github

[2022-03-23 10:30] Tatyana2022 commented on #789
**Format** field is filled and **Download** button is active for now
Infinite loader is displayed after clicking **Download** button for big files
Gene File is not downloading
<img width="300" alt="image" src="https://user-images.githubusercontent.com/83421565/159679556-13fd46d9-c353-4a88-8372-9264d4d4ce17.png">

@AlfiyaRF
 @mzueva
[Ability to download data from "Genes" and "Variants" panels](http

[2022-03-24 09:41] Tatyana2022 commented on #641
Fixed and verified

[2022-03-24 09:41] #641 closed, assigned to DmitriiKrasnov

[2022-03-24 09:44] Tatyana2022 commented on #654
Fixed and verified

[2022-03-24 09:44] #654 closed, assigned to DmitriiKrasnov

[2022-03-24 09:47] Tatyana2022 opened #795 "BUG: "Not found. " text showing through in "Views" menu window"
**Bug**
**Not found.** text showing through in **Views** menu window

**To Reproduce**

1. Go to NGB
2. Go to **Views** menu
3. Select **Sessions** panel
4. Filter by any non-existent value (e.g. filter by _sfsfsfgsf_ value in _Name_ column)
5. Open **Views** menu

**Expected behavior**
**Views** menu is opened
The menu window does not shine through

**Actual result:**
**Views** menu is opened
**S

[2022-03-24 10:08] Tatyana2022 commented on #688
Fixed and verified

[2022-03-24 10:08] #688 closed, assigned to DmitriiKrasnov

[2022-03-25 11:57] Tatyana2022 commented on #403
Fixed and verified

[2022-03-25 11:57] #403 closed, assigned to rodichenko

[2022-03-25 12:03] Tatyana2022 commented on #404
Fixed and verified

[2022-03-25 12:03] #404 closed, assigned to rodichenko

[2022-03-25 12:04] Tatyana2022 commented on #407
Fixed and verified

[2022-03-25 12:04] #407 closed, assigned to rodichenko, mzueva

[2022-03-25 13:49] mzueva opened #798 "GenePred file support"
**Background**
NGB shall support registration of [GenePred](http://genome.ucsc.edu/FAQ/FAQformat#format9) file format as gene file. Implementation shall be similar to gbk files support, during the registration file is converted to GTF and then handled in as a usual gene file and track.

[2022-03-28 12:50] Tatyana2022 commented on #731
**Bug was found:**
**Apply** button is disabled after switching between checkboxes in annotations

**To reproduce:**
1. Go to NGB
2. Open PATHWAYS panel
3. Find and open **BRCA1**
4. Click **A** (annotations) button
5. Set checkbox in **Upload CSV/TSV** field
6. Unset checkbox in  **Upload CSV/TSV** field
7. Set checkbox in **Manual colors config** field
8. Enter any value
9. Look at **Apply** but

[2022-03-28 13:01] Tatyana2022 opened #802 "BUG: The DATASETS panel opens after clicking on a link in the lineage node leading to another reference"
**Bug**
The DATASETS panel opens after clicking on a link in the lineage node leading to another reference

**To Reproduce**

1. Go to NGB
2. Go to Dataset
3. Select any dataset with **GRCH38** reference (e.g. **SV_Sample1**)
4. Open Lineage panel
5. Select **Delete-test** in **Source** field
6. Click  **GRCH38** node
7. Click **Fruitfly** node

**Expected behavior**
**Fruitfly** dataset in **DM6*

[2022-03-28 16:19] Tatyana2022 commented on #731
**Bug was found:**
The map slides to the right or left when zooming in or out

**To reproduce:**
1. Go to NGB
2. Open **PATHWAYS** panel in main menu
3. Find and open pathway **BRCA1**
4. Click on **+** button
5. Double click on **-** button

**Expected result:**
The pathway map should maximize and minimize in the center of the PATHWAYS panel

**Actual result:**
5) The pathway's map slides to the

[2022-03-28 16:41] Tatyana2022 commented on #731
**Bug was found:**
An error displays in the console after opening PATHWAYS panel from track

**Prerequisites**
Open console (Ctrl+F12)

**To reproduce:**
1. Go to NGB
2. Open **PATHWAYS** panel in main menu
3. Find and open  **Pwycollage E.Coli**
4. Search by **ybha** in the **Search** field
5. Click on highlighted value
6. Go to gene's track on BROWSER panel
7. Open Context menu
8. Click **Show p

[2022-03-29 04:23] Tatyana2022 commented on #779
Fixed and verified

[2022-03-29 04:23] #779 closed, assigned to rodichenko, mzueva, DmitriiKrasnov

[2022-03-29 04:56] Tatyana2022 commented on #731
**Bug was found:**
Pop-up Annotations window is not displayed after creation annotation

**To reproduce:**
1. Go to NGB
2. Open **PATHWAYS** panel in main menu
3. Find and open pathway **BRCA1**
4. Click on **A**(Annotation) button
5. Fill any field by any values
6. Click **Apply** button

**Expected result:**
Pop-up Annotation window with created annotation should be displayed in the right upper

[2022-03-29 05:02] Tatyana2022 commented on #731
**Bug was found:**
It is not possible reopen **Add Annotation** pop-up with manual colorization

**To reproduce:**
1. Go to NGB
2. Open **PATHWAYS** panel in main menu
3. Find and open pathway **BRCA1**
4. Click on **A**(Annotation) button
5. Set checkbox in **Manual colors config** field
6. Set any values (e.g. Laclp red blue)
7. Click **Apply** button
8. Click on **A**(Annotation) button
9. Clic

[2022-03-29 12:00] Tatyana2022 commented on #731
**Bug was found:**
Server error is displayed when searching for certain values

**To reproduce:**
1. Go to NGB
2. Open PATHWAYS panel in main menu
3. Enter **pw*** value in the **Search keyword** field
4. Click **Search** button

**Expected result:**
All matched results started with "pw" value should be displayed in the table

**Actual results:**
**Your operation has been aborted due to NGB has en

[2022-03-30 08:00] Tatyana2022 commented on #762
Fixed and verified

[2022-03-30 08:00] #762 closed, assigned to rodichenko, DmitriiKrasnov

[2022-03-30 08:43] Tatyana2022 commented on #731
**Bug was found:**
Switching to the gene track does not match the result

**To reproduce:**
1. Go to NGB
2. Open PATHWAYS panel in main menu
3. Find and open **Pwycollage human** pathway
4. Apply search with following values: **fbp**
5. Click on found node
6. Go to gene's track on BROWSER panel
7. Look at found gene

**Expected result:**
The gene should not have been found because there is no matc

[2022-03-30 08:59] Tatyana2022 commented on #731
**Bug was found:**
The **Apply** button is activated after double-clicking the checkbox in annotations

**To reproduce:**
1. Go to NGB
2. Open PATHWAYS panel
3. Find and open **BRCA1**
4. Click **A** (annotations) button
5. Set checkbox in **Upload CSV/TSV** field
6. Unset checkbox in  **Upload CSV/TSV** field
7. Look at **Apply** button

**Expected result:**
**Apply** button should be disabled

*

[2022-03-30 13:36] Tatyana2022 commented on #731
**Bug was found:**
Incorrect coloring of nodes if the node consists of more than 1 value

**To reproduce:**
1. Go to NGB
2. Open PATHWAYS panel
3. Find and open **Pwycollage human** pathway
4. Click **A** (annotations) button
5. Set checkbox in **Manual colors config** field
6. Enter **enolase: eno red blue**
7. Click **Apply** button
8. Look at **enolase: eno** node

**Expected result:**
**enolas

[2022-04-06 12:11] mzueva opened #807 "Coloring alignments by Bisulfite Mode"
**Background**
NGB Browser should be able to color BAM track nucleotides mismatches against the reference by Bisulfite Mode as described in [Interpreting Color by Bisulfite Mode](https://software.broadinstitute.org/software/igv/interpreting_bisulfite_mode).

### Approach

Initially browser shows ref bases and read bases mismatches using default coloring schema.
If Bisulfite Mode is selected, we ne

[2022-04-20 10:24] mzueva opened #813 "GenePred format support enhancement"
**Background**
Let's extend mapping from genePred to gff/gtf formant. Suggested mapping:
- group genes by name (only one gene entry for several genePred entries may exists), use txStart-txEnd as coordinates
- for each genePred entry -> create transcript feature, use cdsStart-cdsEnd as coordinates
- fro each start-end pair in genePred entry -> create CDS feature

[2022-06-10 12:16] mzueva commented on #793
Done

[2022-06-10 12:16] #793 closed, assigned to okolesn

[2022-06-10 12:16] mzueva commented on #774
Done

[2022-06-10 12:16] #774 closed, assigned to DmitriiKrasnov, okolesn

[2022-06-10 12:17] mzueva commented on #737
Fixed

[2022-06-10 12:17] #737 closed, assigned to nobody

[2022-06-23 11:40] kay73 opened #826 "iFrame-embedding NGB with JWT/ACL security enabled is impossible"
It is impossible to embed a __secured__ NGB in an iFrame and use its JavaScript API.

Provided `security.acl.enable=true` and `jwt.security.enable=true` is set and with the backend properly configured for using JWTs: When creating an iFrame having NGB as its location (e. g. `http://localhost:8080/catgenome/#`), NGB always immediately performs backend calls and redirects to `/saml/logout` because n

[2022-07-20 12:33] mzueva opened #828 "Wrong index is created for compressed VCF stored in Azure Blob storage"
**Describe the bug**
When a compressed VCF file from Azure Blob storage is registered without index NGB creates `idx` index instead of `gz.tbi`.

**To Reproduce**
Steps to reproduce the behavior:
1. Register compressed VCF with Azure Blob path `ngb add dataset az://storage/sample.vcf.gz`
2. Check that VCF track is not rendered with `Invalid GZIP header error`

**Expected behavior**
`gz.tbi` index

[2022-07-21 12:35] mzueva opened #830 "Allow to disable browsing of unregistered files via url"
**Background**
At the moment it is possible to restrict browsing of local files using property `file.browsing.allowed`. It would be helpful to implement similar method to restrict browsing of files via urls.

**Approach**
- Add a new application property `url.browsing.allowed`, default value `true`
- Add API method `/urls/allowed` returning this value (similar to `/files/allowed`)
- If this proper

[2022-07-22 12:02] mzueva opened #832 "Implement security to download file methods"
**Background**
- Add new application property to disable methods `/dataitem/{id}/downloadUrl` and `/dataitem/{id}/download` and corresponding method to get this property value
- Add ACL security check for this methods similar to usual permissions, file can be downloaded when:
  - user is admin
  - file is a reference
  - file used as annotation for a reference
  - user has read permission to the f

[2022-07-22 14:39] rodichenko opened #833 "JS API enhancements: loadRegisteredTracks, load nested projects, token management"
**Background**
At the moment, NGB does not allow to open nested projects, as well as open registered tracks by `bioDataItemId`. It would be nice to:
- enhance `loadDataSet` method to support nested projects;
- introduce `loadRegisteredTracks` method to open registered tracks (see below).

Also, we need to change the behavior of the `setToken` method to keep passed token in memory and to prevent GU

[2022-07-22 15:13] rodichenko commented on #833
Backported to `release/2.7.1` (62e319c5096aafabae2eb2a3bf7f2b2bb6a8608a)

[2022-07-25 01:57] hsl2001 opened #834 "Zooming gtf file to gene level (lack feature name)"
**Describe the bug**
A clear and concise description of what the bug is.
When I zoom the track under 50kb, it might have to be shown as gene level view, but it doesn't.
It seems to be a issue due to the lack of "feature name" on gtf file, but cannot find out how to add it.
(The GTF file was produced with AUGUSTUS)

**Screenshots**
If applicable, add screenshots to help explain your problem.
*Canno

[2022-07-28 10:59] rodichenko opened #837 "Configure visible panels via URL parameters"
**Background**
At the moment, NGB allows to specify *application layout* via `layout` URL parameter, which defines the panels visibility, size, position, etc.. This parameter is quite "heavy", while for some cases user just wants to configure panels visibility only.

**Approach**
Let's introduce `panels` parameter - a JSON array of panels identifiers. NGB should display only listed panels at the s

[2022-07-28 12:59] rodichenko commented on #837
Backported to release/2.7.1 (b34407cab4b20c62a1ae65bc181c3bb2f6585884)

[2022-08-03 00:22] #834 closed, assigned to nobody

[2022-09-13 11:20] rodichenko commented on #833
627e53b1c7ccb3f990c81b79ff6cc5447d967bec (backported to `release/2.7.1` via 1e282d023bd77db0fa2fd51a6f7f8c58d77df3a3) introduces a hot fix for `loadRegisteredTracks`:

Previously this API method sent a successful response *before* the requested tracks was actually found and loaded.